{templateType ApiGenX\Renderer\Latte\Template\TreeTemplate}
{import 'blocks/@index.latte'}

{embed layout}
	{block content}
		<h1>{$global->title}</h1>

		{embed elementSummary}
			{block elementSummaryContent}
				{include elementSummaryGroup, heading: 'Namespaces', elements: $global->index->namespace, showDescription: false, onlyPrimary: true}
			{/block}
		{/embed}
	{/block}
{/embed}
