[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Features/Php80/ConstructorPromotion/Point.php'
    properties: {
      x: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'float'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Keyword'
            )
          }
        )
        name: 'x'
        startLine: 9
        endLine: 9
        public: true
      )
      y: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'float'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Keyword'
            )
          }
        )
        name: 'y'
        startLine: 10
        endLine: 10
        public: true
      )
      z: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'float'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Keyword'
            )
          }
        )
        name: 'z'
        startLine: 11
        endLine: 11
        public: true
      )
    }
    methods: {
      __construct: @ApiGen\Info\MethodInfo(
        nameLower: '__construct'
        parameters: {
          x: @ApiGen\Info\ParameterInfo(
            name: 'x'
            position: 0
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'float'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'Keyword'
                )
              }
            )
            default: @ApiGen\Info\Expr\FloatExprInfo(
              value: 0.0
              raw: '0.0'
            )
          )
          y: @ApiGen\Info\ParameterInfo(
            name: 'y'
            position: 1
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'float'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'Keyword'
                )
              }
            )
            default: @ApiGen\Info\Expr\FloatExprInfo(
              value: 0.0
              raw: '0.0'
            )
          )
          z: @ApiGen\Info\ParameterInfo(
            name: 'z'
            position: 2
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'float'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'Keyword'
                )
              }
            )
            default: @ApiGen\Info\Expr\FloatExprInfo(
              value: 0.0
              raw: '0.0'
            )
          )
        }
        name: '__construct'
        startLine: 8
        endLine: 13
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php80\ConstructorPromotion\Point'
    primary: true
    startLine: 6
    endLine: 14
  ),
]
