services:
	# commands
	- ApiGen\Command\GenerateCommand
	- ApiGen\Command\SelfUpdateCommand

	# configuration
	- ApiGen\Configuration\Configuration
	- ApiGen\Configuration\ConfigurationOptionsResolver
	- ApiGen\Configuration\OptionsResolverFactory
	-
		implement: ApiGen\Configuration\Theme\ThemeConfigFactory
		parameters: [filePath]
		arguments: [%filePath%]
	- ApiGen\Configuration\Theme\ThemeConfigOptionsResolver

	# console
	-
		class: ApiGen\Console\Application
		setup:
			- setEventManager
	- ApiGen\Console\IO
	- ApiGen\Console\ProgressBar
	- Symfony\Component\Console\Helper\ProgressHelper
	- Symfony\Component\Console\Helper\QuestionHelper
	-
		class: Symfony\Component\Console\Helper\HelperSet
		setup:
			- set(@Symfony\Component\Console\Helper\ProgressHelper, 'progress')
			- set(@Symfony\Component\Console\Helper\QuestionHelper, 'question')

	# elements
	- ApiGen\Generator\Resolvers\ElementResolver
	- ApiGen\Generator\Resolvers\RelativePathResolver

	# events
	- {class: ApiGen\Events\ProgressBarIncrement, tags: [kdyby.subscriber]}
	- {class: ApiGen\Events\SetIoOnConsoleRun, tags: [kdyby.subscriber]}

	# filesystem
	- ApiGen\FileSystem\FileSystem
	- ApiGen\FileSystem\ZipArchiveGenerator

	# generator
	- ApiGen\Scanner\Scanner
	- ApiGen\Generator\GeneratorQueue
	# intentionally first to collect output from other generators
	- ApiGen\Generator\TemplateGenerators\ZipGenerator
	- ApiGen\Generator\TemplateGenerators\CombinedGenerator
	- ApiGen\Generator\TemplateGenerators\AnnotationGroupsGenerator
	- ApiGen\Generator\TemplateGenerators\E404Generator
	- ApiGen\Generator\TemplateGenerators\ElementListGenerator
	- ApiGen\Generator\TemplateGenerators\OpensearchGenerator
	- ApiGen\Generator\TemplateGenerators\OverviewGenerator
	- ApiGen\Generator\TemplateGenerators\SitemapGenerator
	- ApiGen\Generator\TemplateGenerators\SourceCodeGenerator
	- ApiGen\Generator\TemplateGenerators\TreeGenerator
	- ApiGen\Generator\TemplateGenerators\RobotsGenerator
	# elements
	- ApiGen\Generator\TemplateGenerators\ClassElementGenerator
	- ApiGen\Generator\TemplateGenerators\ConstantElementGenerator
	- ApiGen\Generator\TemplateGenerators\FunctionElementGenerator
	- ApiGen\Generator\TemplateGenerators\NamespaceGenerator
	- ApiGen\Generator\TemplateGenerators\PackageGenerator
	- ApiGen\Generator\TemplateGenerators\Loaders\NamespaceAndPackageLoader
	- ApiGen\Generator\Markups\MarkdownMarkup
	- Michelf\MarkdownExtra

	# templating
	- ApiGen\Templating\TemplateElementsLoader
	- ApiGen\Templating\TemplateFactory
	- ApiGen\Templating\TemplateNavigator
	- ApiGen\Templating\Filters\Helpers\ElementLinkFactory
	- ApiGen\Templating\Filters\Helpers\ElementUrlFactory
	- ApiGen\Templating\Filters\Helpers\LinkBuilder
	- ApiGen\Templating\Filters\AnnotationFilters
	- ApiGen\Templating\Filters\PathFilters
	- ApiGen\Templating\Filters\PhpManualFilters
	- ApiGen\Templating\Filters\ResolverFilters
	- ApiGen\Templating\Filters\SourceFilters
	- ApiGen\Templating\Filters\UrlFilters
	- ApiGen\Templating\Filters\NamespaceAndPackageUrlFilters
	- ApiGen\Templating\Filters\ElementUrlFilters

	# theme
	- ApiGen\Theme\ThemeResources
	- ApiGen\Theme\ThemeConfigPathResolver(%rootDir%)

	# syntax highlighter
	- ApiGen\Generator\SourceCodeHighlighter\FshlSourceCodeHighlighter
	- FSHL\Output\Html
	- FSHL\Lexer\Php
	-
		class: FSHL\Highlighter
		setup:
			- setLexer(@FSHL\Lexer\Php)
