[submodule "vendor/FSHL"]
	path = vendor/FSHL
	url = git://github.com/kukulich/fshl.git
[submodule "vendor/Nette"]
	path = vendor/Nette
	url = git://github.com/nette/nette.git
[submodule "vendor/Parsedown"]
	path = vendor/Parsedown
	url = git://github.com/erusev/parsedown.git
[submodule "vendor/TokenReflection"]
	path = vendor/TokenReflection
	url = git://github.com/Andrewsville/PHP-Token-Reflection.git
