[submodule "libs/FSHL"]
	path = libs/FSHL
	url = git://github.com/kukulich/fshl.git
[submodule "libs/Nette"]
	path = libs/Nette
	url = git://github.com/nette/nette.git
[submodule "libs/Texy"]
	path = libs/Texy
	url = git://github.com/dg/texy.git
[submodule "libs/TokenReflection"]
	path = libs/TokenReflection
	url = git://github.com/Andrewsville/PHP-Token-Reflection.git
