source: ''
destination: ''
exclude: ''
title: 'Jyxo PHP Library'
baseUrl: 'http://jyxo.github.com/php'
googleCse: '004718174178290363576:f23xklsezl8'
template: jyxo
templateDir: ''
accessLevels: [public, protected]
wipeout: On
progressbar: On
