source: ''
destination: ''
title: 'Jyxo PHP Library'
baseUrl: 'http://jyxo.github.com/php'
googleCse: '004718174178290363576:f23xklsezl8'
template: jyxo
templateDir: ''
wipeout: On
progressbar: On

accessLevels:
	public: Yes
	protected: Yes
	private: No
