# ApiGen default template configuration


# These directories are copied to the destination folder
resources:
	%dir%/templates/resources: resources


# Templates for each page
templates:
	namespace: %dir%/templates/namespace.latte
	class: %dir%/templates/class.latte
	source: %dir%/templates/source.latte

	common:
			allclasses.js: %dir%/templates/allclasses.js.latte
			allclasses.html: %dir%/templates/namespace.latte
			elements.html: %dir%/templates/elements.latte
			index.html: %dir%/templates/overview.latte
			overview.html: %dir%/templates/overview.latte
			sitemap.xml: %dir%/templates/sitemap.xml.latte
			resources/combined.js: %dir%/templates/combined.js.latte
			opensearch.xml: %dir%/templates/opensearch.xml.latte

# Custom variables passed to each template
variables:
	title: API Documentation
	baseUrl:
	searchUrl: