source: ''
destination: ''
exclude: ''
skipDocPath: ''
skipDocPrefix: ''
title: ''
baseUrl: ''
googleCse: ''
template: default
templateDir: ''
allowedHtml: [b, i, a, ul, ol, li, p, br, var, samp, kbd]
accessLevels: [public, protected]
deprecated: No
todo: No
code: Yes
wipeout: Yes
quiet: No
progressbar: On
debug: Off
