source: ''
destination: ''
exclude: ''
skipDocPath: ''
skipDocPrefix: ''
title: ''
baseUrl: ''
googleCse: ''
template: default
templateDir: ''
accessLevels: [public, protected]
deprecated: No
code: Yes
wipeout: Yes
progressbar: On
debug: Off
