includes:
    - vendor/symplify/easy-coding-standard/config/psr2-checkers.neon

checkers:
    # Solid
    - Symplify\CodingStandard\Sniffs\Classes\FinalInterfaceSniff

    # PSR2
    PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
        absoluteLineLimit: 120
    - PHP_CodeSniffer\Standards\PEAR\Sniffs\WhiteSpace\ScopeClosingBraceSniff
    - PhpCsFixer\Fixer\ClassNotation\NoBlankLinesAfterClassOpeningFixer

    # Comments
    - Symplify\CodingStandard\Sniffs\Commenting\BlockPropertyCommentSniff

    # Dev & Dead Code
    - Symplify\CodingStandard\Sniffs\Debug\DebugFunctionCallSniff
    - SlevomatCodingStandard\Sniffs\Classes\UnusedPrivateElementsSniff
    PhpCsFixer\Fixer\Phpdoc\GeneralPhpdocAnnotationRemoveFixer:
         annotations:
            - author
            - expectedException

    # Class Naming
    - Symplify\CodingStandard\Sniffs\Naming\AbstractClassNameSniff
    - Symplify\CodingStandard\Sniffs\Naming\InterfaceNameSniff
    - Symplify\CodingStandard\Sniffs\Naming\TraitNameSniff

    # Code Structures
    - SlevomatCodingStandard\Sniffs\ControlStructures\AssignmentInConditionSniff
    - SlevomatCodingStandard\Sniffs\ControlStructures\YodaComparisonSniff

    # Namespaces
    - PhpCsFixer\Fixer\Import\NoUnusedImportsFixer
    - SlevomatCodingStandard\Sniffs\Namespaces\UseFromSameNamespaceSniff
    - SlevomatCodingStandard\Sniffs\Namespaces\ReferenceUsedNamesOnlySniff
    - SlevomatCodingStandard\Sniffs\Namespaces\MultipleUsesPerLineSniff
    - SlevomatCodingStandard\Sniffs\Namespaces\DisallowGroupUseSniff
    - PhpCsFixer\Fixer\Import\OrderedImportsFixer

    # Spacing
    - PhpCsFixer\Fixer\ClassNotation\MethodSeparationFixer

    # Strict and Scalar types
    - PhpCsFixer\Fixer\Strict\DeclareStrictTypesFixer
    SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
        usefulAnnotations:
            - @dataProvider
            - @deprecated
            - @todo
        enableEachParameterAndReturnInspection: true
    - SlevomatCodingStandard\Sniffs\TypeHints\NullableTypeForNullDefaultValueSniff
    - SlevomatCodingStandard\Sniffs\TypeHints\ParameterTypeHintSpacingSniff
    - SlevomatCodingStandard\Sniffs\TypeHints\ReturnTypeHintSpacingSniff
    - SlevomatCodingStandard\Sniffs\TypeHints\LongTypeHintsSniff

    PhpCsFixer\Fixer\ClassNotation\VisibilityRequiredFixer:
         elements: [const, property, method]

    # new since PhpCsFixer 2.1/2.2
    - PhpCsFixer\Fixer\LanguageConstruct\IsNullFixer
    - PhpCsFixer\Fixer\Basic\NonPrintableCharacterFixer

parameters:
    skip:
        SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
            # covariant implements
            - packages/Annotation/src/AnnotationSubscriber/ReturnAnnotationSubscriber.php
            - packages/Annotation/src/AnnotationSubscriber/LinkAnnotationSubscriber.php
            - packages/Annotation/src/AnnotationSubscriber/ParamAnnotationSubscriber.php
            - packages/Annotation/src/AnnotationSubscriber/SeeUsesCoversAnnotationSubscriber.php
            - packages/Annotation/tests/AnnotationSubscriber/SeeAnnotationSubscriberSource/SomeClassWithSeeAnnotations.php

            # tests
            - packages/Reflection/tests/Reflection/Function_/FunctionParameterReflection/Source/functionWithVariadic.php
            - packages/Reflection/tests/Reflection/Function_/FunctionReflection/Source/SomeFunction.php
            - packages/Reflection/src/Reflection/Trait_/TraitPropertyReflection.php

            # tests
            - packages/Annotation/tests/AnnotationDecoratorSource/SomeClassWithReturnTypes.php

            # covariant implementers
            - packages/StringRouting/src/Route/SourceCodeRoute.php
            - packages/StringRouting/src/Route/ReflectionRoute.php
            - packages/StringRouting/src/Route/NamespaceRoute.php
            - packages/Reflection/tests/Reflection/Partial/Source/InheritdocClass.php
            - packages/ModularConfiguration/src/Option/SourceOption.php
            - packages/ModularConfiguration/src/Option/ThemeDirectoryOption.php

            # extending messy 3rd party code
            - packages/Reflection/src/DocBlock/Tags/See.php

        SlevomatCodingStandard\Sniffs\Classes\UnusedPrivateElementsSniff:
            - packages/Reflection/tests/Reflection/Class_/ClassReflection/Source/AccessLevels.php

        PhpCsFixer\Fixer\Phpdoc\GeneralPhpdocAnnotationRemoveFixer:
            - packages/Reflection/tests/Reflection/Partial/Source/SomeClassWithAnnotations.php
            - packages/Reflection/tests/Reflection/Class_/ClassReflection/Source/SomeClass.php

        PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
            - packages/Reflection/src/Reflection/AbstractParameterReflection.php
            - packages/Reflection/src/Reflection/Function_/FunctionParameterReflection.php
            - packages/Reflection/src/Contract/Reflection/AbstractMethodReflectionInterface.php
            - *packages/Reflection/src/Contract/Reflection/*/*ReflectionInterface.php
