includes:
    - vendor/symplify/easy-coding-standard/config/php70-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php71-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symfony-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symplify-checkers.neon
    - vendor/symplify/easy-coding-standard/config/common.neon
    - vendor/symplify/easy-coding-standard/config/spaces.neon

checkers:
    # PSR2
    PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
        absoluteLineLimit: 120

    # Code Structures
    - SlevomatCodingStandard\Sniffs\ControlStructures\AssignmentInConditionSniff

    # Namespaces
    SlevomatCodingStandard\Sniffs\Namespaces\ReferenceUsedNamesOnlySniff:
        allowPartialUses: false

    # Strict and Scalar types
    SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
        usefulAnnotations:
            - @dataProvider
            - @deprecated
            - @todo
        enableEachParameterAndReturnInspection: true

    # new since PhpCsFixer 2.1/2.2
    - PhpCsFixer\Fixer\LanguageConstruct\IsNullFixer

parameters:
    exclude_checkers:
        - PhpCsFixer\Fixer\PhpTag\BlankLineAfterOpeningTagFixer
        - PhpCsFixer\Fixer\Operator\UnaryOperatorSpacesFixer
        - PhpCsFixer\Fixer\Phpdoc\PhpdocAlignFixer
        - PhpCsFixer\Fixer\Operator\NewWithBracesFixer
        - PhpCsFixer\Fixer\Phpdoc\PhpdocInlineTagFixer
        # possibly bugged: doesn't report errors, only fixes
        - Symplify\CodingStandard\Fixer\Php\ClassStringToClassConstantFixer

    skip:
        SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
            # covariant implements
            - packages/Annotation/src/AnnotationSubscriber/ReturnAnnotationSubscriber.php
            - packages/Annotation/src/AnnotationSubscriber/LinkAnnotationSubscriber.php
            - packages/Annotation/src/AnnotationSubscriber/ParamAnnotationSubscriber.php
            - packages/Annotation/src/AnnotationSubscriber/SeeUsesCoversAnnotationSubscriber.php
            - packages/Annotation/tests/AnnotationSubscriber/SeeAnnotationSubscriberSource/SomeClassWithSeeAnnotations.php

            # tests
            - packages/Reflection/tests/Reflection/Function_/FunctionParameterReflection/Source/functionWithVariadic.php
            - packages/Reflection/tests/Reflection/Function_/FunctionReflection/Source/SomeFunction.php
            - packages/Reflection/src/Reflection/Trait_/TraitPropertyReflection.php

            # tests
            - packages/Annotation/tests/AnnotationDecoratorSource/SomeClassWithReturnTypes.php
            - tests/Generator/Source/SomeClass.php
            - tests/Generator/Source/SomeTrait.php
            - tests/Generator/Source/SomeFunction.php

            # covariant implementers
            - packages/StringRouting/src/Route/SourceCodeRoute.php
            - packages/StringRouting/src/Route/ReflectionRoute.php
            - packages/StringRouting/src/Route/NamespaceRoute.php
            - packages/Reflection/tests/Reflection/Partial/Source/InheritdocClass.php
            - packages/ModularConfiguration/src/Option/SourceOption.php
            - packages/ModularConfiguration/src/Option/ThemeDirectoryOption.php

            # extending messy 3rd party code
            - packages/Reflection/src/DocBlock/Tags/See.php

        SlevomatCodingStandard\Sniffs\Classes\UnusedPrivateElementsSniff:
            - packages/Reflection/tests/Reflection/Class_/ClassReflection/Source/AccessLevels.php
            - tests/Generator/Source/SomeClass.php

        PhpCsFixer\Fixer\ClassNotation\VisibilityRequiredFixer:
            - tests/Generator/Source/SomeClass.php

        PhpCsFixer\Fixer\Phpdoc\GeneralPhpdocAnnotationRemoveFixer:
            - packages/Reflection/tests/Reflection/Partial/Source/SomeClassWithAnnotations.php
            - packages/Reflection/tests/Reflection/Class_/ClassReflection/Source/SomeClass.php

        PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
            - packages/Reflection/src/Reflection/AbstractParameterReflection.php
            - packages/Reflection/src/Reflection/Function_/FunctionParameterReflection.php
            - packages/Reflection/src/Reflection/Interface_/InterfaceConstantReflection.php
            - packages/Reflection/src/Contract/Reflection/AbstractMethodReflectionInterface.php
            - *packages/Reflection/src/Contract/Reflection/*/*ReflectionInterface.php

        Symplify\CodingStandard\Sniffs\Debug\CommentedOutCodeSniff:
            # todos, remove after they are fixed
            - *packages/Annotation/src/AnnotationSubscriber/*Subscriber.php
            - packages/Reflection/tests/Reflection/Method/MethodReflection/ParameterWithConstantDefalutValueTest.php
            - packages/Reflection/tests/Reflection/Function_/FunctionParameterReflection/ConstantDefaultValueTest.php
            - packages/Reflection/src/Reflection/Interface_/InterfaceConstantReflection.php
            - packages/Reflection/src/Reflection/Class_/ClassConstantReflection.php

        PhpCsFixer\Fixer\Phpdoc\PhpdocNoAliasTagFixer:
            # test
            - packages/Annotation/tests/AnnotationSubscriber/LinkAnnotationSubscriberSource/SomeClassWithLinkAnnotations.php

        PhpCsFixer\Fixer\ClassNotation\ProtectedToPrivateFixer:
            # test
            - packages/Element/tests/ReflectionCollector/Source/PartiallyDeprecatedClass.php

        Symplify\CodingStandard\Sniffs\Classes\EqualInterfaceImplementationSniff:
            # todo: fix, add methods to parent interface or implement new interface
            - packages/Element/src/ReflectionCollector/NamespaceReflectionCollector.php
            - packages/Reflection/src/Reflection/Class_/ClassConstantReflection.php
            - packages/Reflection/src/Reflection/Class_/ClassReflection.php
            - packages/Reflection/src/Reflection/Interface_/InterfaceConstantReflection.php

        Symplify\CodingStandard\Sniffs\Commenting\VarConstantCommentSniff:
            - packages/Reflection/tests/Reflection/Function_/FunctionParameterReflection/Source/functionWithConstant.php

        SlevomatCodingStandard\Sniffs\Namespaces\ReferenceUsedNamesOnlySniff:
            - packages/Reflection/tests/Parser/DifferentVendorSources/vendor/autoload.php