checkers:
    # strict and scalar types
    - PhpCsFixer\Fixer\Strict\DeclareStrictTypesFixer
    SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
        usefulAnnotations:
            - @expectedException
            - @deprecated
