<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite>
            <directory>packages/Element/tests</directory>
            <directory>packages/Reflection/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>packages/Element/src</directory>
            <directory>packages/Reflection/src</directory>
        </whitelist>
    </filter>
</phpunit>
