<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <testsuite name="apigen">
        <directory>packages/*/tests</directory>
        <directory>tests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>packages/*/src</directory>
            <directory>src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="memory_limit" value="-1" />
    </php>
</phpunit>
