<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite>
            <directory>packages/*/tests</directory>
            <directory>tests/Generator</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>packages/*/src</directory>
            <directory>src/Generator</directory>
        </whitelist>
    </filter>
</phpunit>
