services:
	cacheStorage: Nette\Caching\Storages\DevNullStorage
#	- ApiGen\Parser\Tests\Resolvers\ElementResolver


extensions:
	- ApiGen\DI\ApiGenExtension
	- ApiGen\Console\DI\ConsoleExtension
	- ApiGen\Utils\DI\UtilsExtension
	- ApiGen\Parser\DI\ParserExtension

	- Symplify\SymfonyEventDispatcher\Adapter\Nette\DI\SymfonyEventDispatcherExtension
