/*!
	(c) David Grudl, Ondřej Nešpor, Jaroslav Hanslík, Martin Cohen, Jörn Zaefferer
*/

body {
	font: 13px/1.5 Verdana, "Geneva CE", lucida, sans-serif;
	margin: 0;
	padding: 0;
	background: #ffffff;
	color: #333333;
}

h1, h2, h3, h4, caption {
	font-family: Trebuchet MS, "Geneva CE", lucida, sans-serif;
	color: #053368;
}

h1 {
	color: #1e5eb6;
	font-size: 230%;
	font-weight: normal;
	margin: .3em 0;
}

h2, caption {
	border: 1px solid #ccc;
	background: #ecede5;
	font-weight: bold;
	font-size: 1.2em;
	padding: 3px 5px;
	text-align: left;
	margin-bottom: 0;
}

h3 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 2px;
}

h4 {
	font-size: 100%;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

a {
	color: #006aeb;
	padding: 3px 1px;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	background-color: #006aeb;
	text-decoration: none;
	color: #ffffff !important;
}

p {
	margin: .7em 0 1em;
	padding: 0;
}

hr {
	margin: 2em 0 1em;
	border: none;
	border-top: 1px solid #cccccc;
	height: 0;
}

var, code, pre {
	font-family: monospace;
}

var {
	font-weight: bold;
	font-style: normal;
	color: #ca8a04;
}

pre {
	margin: 0;
}

#constants code a, .constants code a {
	color: #000000;
}

#properties var a, .properties var a {
	color: #ca8a04;
}

/**
 * Splitter
 */
.vsplitbar {
	width: 5px;
	background: #1e5eb6 url('resize.png') left center no-repeat;
}

.vsplitbar.active {
	opacity: .5;
}



/**
 * Left side
 */
#leftWrapper {
	overflow: auto;
	background: #ffffff;
	width: 270px;
}

#left {
	padding: 10px;
}

#left ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#left ul ul {
	padding-left: 10px;
}

#left li {
	white-space: nowrap;
}

#left .active > a {
	color: #333333;
	background: none;
	font-weight: bold;
}

#left .active > a:hover {
    background-color: #006aeb;
}

#left .all {
	font-style: italic;
}

#left .collapsed {
	display: none;
}

/**
 *	Right side
 */
#rightWrapper {
	overflow: auto;
}

#right {
	max-width: 1000px;
}



/**
 *	Navigation
 */
#search {
	display: inline;
	float: right;
	margin-top: 3px;
}

#search input.text {
	padding: 3px 5px;
	width: 200px;
}

#navigation {
	margin: 0 3px 3px 3px;
	padding: 3px 8px;
	background-color: #f6f6f4;
	height: 26px;
}

#navigation ul {
	list-style: none;
	margin: 2px 0 4px 2px;
	padding: 0;
	overflow: hidden;
	float: left;
}

#navigation ul + ul {
	border-left: 1px solid #000000;
	margin-left: 10px;
	padding-left: 12px;
}

#navigation ul li {
	display: inline;
	margin: 2px;
	padding: 0 2px;
	font-family: Arial, Verdana;
	color: gray;
}

#navigation ul li a {
	color: #000000;
	font-weight: bold;
	padding: 3px;
}

#navigation ul li a:hover, #navigation ul li a:active, #navigation ul li a:focus {
	color: #ffffff;
}

#navigation ul li.active {
	background: #053368;
	color: #ffffff;
	padding: 3px;
	font-weight: bold;
}



/**
 * Content
 */
.nowrap {
	white-space: nowrap;
}

#content {
	clear: both;
	padding: 5px 10px;
	margin: 0;
}

.classDescription {
	background: #ecede5;
	padding: 1px 8px;
	margin: 1.2em 0;
}

.classDescription pre {
	margin: .5em 0;
	padding: .6em;
	background: #fcfcf7;
}

dl.tree {
	margin: 1.2em 0;
}

dl.tree dd {
	margin: 0;
	padding: 0;
}

.classInfo {
	margin: 1.2em 0;
}


.summary {
	border: 1px solid #cccccc;
	border-collapse:collapse;
	font-size: 1em;
	width: 100%;
	margin: 1.2em 0 2.4em;
}

.summary caption {
	border-width: 1px 1px 0;
}

.summary caption.switchable {
	background: #ecede5 url(sort.gif) no-repeat center right;
	cursor: pointer;
}

.summary td {
	border: 1px solid #ccc;
	margin: 0;
	padding: 3px 10px;
	font-size: 1em;
	vertical-align: top;
}

.summary dl {
	margin: 0;
}

.summary dd {
	margin: 0 0 0 25px;
}

.short p, .detailed p {
	margin: .4em 0;
}

tr:hover td {
	background: #f6f6f4;
}

tr .detailed {
	display: none;
}

.deprecated {
	opacity: .5;
}
.right {
	text-align: right;
}

.box {
	border: 1px solid #cccccc;
	border-top: none;
	margin-bottom: 2.4em;
	padding: 3px 1em;
	font-size: 95%;
}

.position {
	position: relative;
	padding-right: 1em;
}

.anchor {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 1;
	font-size: 85%;
	margin: 0;
	color: #006aeb !important;
}

div.smallList {
	padding:0 0 10px 25px;
	margin:0;
}



#footer {
	border-top: 1px solid #e9eeef;
	clear: both;
	color: #a7a7a7;
	font-size: 8pt;
	text-align: center;
	padding: 20px 0 0;
	margin: 3em 0 0;
	height: 90px;
	background: #ffffff url('footer.gif') no-repeat center top;
}

.classtree ul {
	list-style: none;
	background: url('tree-vertical.gif') left repeat-y;
	padding: 0;
	margin-left: 20px;
}

.classtree li {
	margin: 0;
	padding: 0;
}

.classtree div {
	padding-left: 30px;
	background: left center no-repeat;
}

.classtree div.notlast {
	background-image: url('tree-hasnext.gif');
}

.classtree div.last {
	background-image: url('tree-last.png');
}

.classtree li.last {
	background: url('tree-cleaner.gif') left repeat-y;
}


/**
 * Source code
 */
.php-keyword1 { color: #e71818; font-weight: bold }
.php-keyword2 { font-weight: bold }
.php-var { color: #d59401; font-weight: bold }
.php-num { color: #cd0673 }
.php-quote { color: green }
.php-vquote { color: #0F0; font-weight: bold }
.php-comment { color: #929292 }

.xlang { color: red; font-weight: bold }
.l { color: silver; background-color: #ffffff }



/**
 * Autocomplete
 */
.ac_results {
	padding: 0px;
	border: 1px solid #000000;
	background-color: #ffffff;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
}

.ac_odd {
	background-color: #eeeeee;
}

.ac_over {
	background-color: #0a246a;
	color: #ffffff;
}
