[
  @Class(
    file: '%rootDir%/tests/Features/PhpDoc/Mixin/MixinUser.php'
    mixins: {
      apigentests\features\phpdoc\mixin\mixin: @ClassLikeReference(
        full: 'ApiGenTests\Features\PhpDoc\Mixin\Mixin'
      )
    }
    name: 'ApiGenTests\Features\PhpDoc\Mixin\MixinUser'
    primary: true
    tags: {
      mixin: [
        @MixinTagValue(
          type: @IdentifierType(
            name: 'Mixin'
            attributes: {
              kind: 'ClassLike'
              classLikeReference: @ClassLikeReference(
                full: 'ApiGenTests\Features\PhpDoc\Mixin\Mixin'
              )
            }
          )
          description: ''
        ),
      ]
    }
  ),
]
