{varType ApiGenX\Index\Index $index}
{varType ApiGenX\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGenX\Renderer\Latte\Template\LayoutParameters $layout}

{define classLikeKind, ApiGenX\Info\ClassLikeInfo $classLike}{*
	*}{if isInterface($classLike)}Interface{*
	*}{elseif isTrait($classLike)}Trait{*
	*}{elseif isClass($classLike)}Class{*
	*}{elseif isEnum($classLike)}Enum{*
	*}{else}{/if}{*
*}{/define}
