{varType ApiGenX\Renderer\Latte\Template\GlobalParameters $global}

{define classLikeKind, ApiGenX\Info\ClassLikeInfo $classLike}{*
	*}{if $classLike->interface}Interface{*
	*}{elseif $classLike->trait}Trait{*
	*}{elseif $classLike->class}Class{*
	*}{else}{/if}{*
*}{/define}
