{varType ApiGenX\Renderer\Latte\Template\GlobalParameters $global}

{define classLikeKind, ApiGenX\Info\ClassLikeInfo $classLike}{*
	*}{if isInterface($classLike)}Interface{*
	*}{elseif isTrait($classLike)}Trait{*
	*}{elseif isClass($classLike)}Class{*
	*}{else}{/if}{*
*}{/define}
