{varType ApiGenX\Index\Index $index}
{varType ApiGenX\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGenX\Renderer\Latte\Template\LayoutParameters $layout}

{define classLikeLinks, ApiGenX\Info\ClassLikeInfo $classLike}{*
	*}{if $classLike->name->namespaceLower}{include namespaceLinks, $index->namespace[$classLike->name->namespaceLower]}\{/if}{*
	*}<a href="{classLikeUrl($classLike)}">{$classLike->name->short}</a>{*
*}{/define}
