{varType ApiGenX\Renderer\Latte\Template\GlobalParameters $global}

{define classLikeRelatedGroup, ApiGenX\Info\ClassLikeInfo[] $items}
	{try}
		<div class="classLikeRelatedGroup">
			<h4>{include title}</h4>

			{foreach $items as $item}
				<a href="{classLikeUrl($item)}"><span n:tag-if="$item->isDeprecated()" class="deprecated">{$item->name->full}</span></a>{sep}, {/sep}
			{else}
				{rollback}
			{/foreach}
		</div>
	{/try}
{/define}
