{varType ApiGenX\Index\Index $index}
{varType ApiGenX\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGenX\Renderer\Latte\Template\LayoutParameters $layout}

{define classLikeDescription, ApiGenX\Info\ClassLikeInfo $classLike}
	{if $classLike->description}
		<div class="classLikeDescription">
			{include description, $classLike->description}
		</div>
	{/if}
{/define}
