{varType ApiGenX\Renderer\Latte\Template\GlobalParameters $global}

{define classLikeDescription, ApiGenX\Info\ClassLikeInfo $classLike}
	{if $classLike->description}
		<div class="classLikeDescription">
			{include description, $classLike->description}
		</div>
	{/if}
{/define}
