{varType ApiGenX\Renderer\Latte\Template\GlobalParameters $global}

{define constantSummary, ApiGenX\Info\ClassLikeInfo $classLike}
	{if $classLike->constants}
		<table class="table" id="constants">
			<tr>
				<th class="table-heading" colspan="3">Constants</th>
			</tr>

			{foreach $classLike->constants as $constant}
				{include constant, classLike: $classLike, constant: $constant}
			{/foreach}
		</table>
	{/if}
{/define}
