{varType ApiGenX\Renderer\Latte\Template\GlobalParameters $global}

{define description, string $description}
	<div n:if="$description" class="description">{longDescription($description)}</div>
{/define}
