{varType ApiGenX\Index\Index $index}
{varType ApiGenX\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGenX\Renderer\Latte\Template\LayoutParameters $layout}

{define description, string $description}
	<div n:if="$description" class="description">{longDescription($description)}</div>
{/define}
