{varType ApiGenX\Renderer\Latte\Template\GlobalParameters $global}

{define member, ApiGenX\Info\MemberInfo $member}
	<tr class="expandable collapsed" id="{memberAnchor($member)}">
		{include cells}
		<td class="table-anchor">
			<a href="#{memberAnchor($member)}">#</a>
		</td>
	</tr>
{/define}
