{varType ApiGenX\Index\Index $index}
{varType ApiGenX\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGenX\Renderer\Latte\Template\LayoutParameters $layout}

{define memberVisibility, ApiGenX\Info\MemberInfo $member}
	{if $member->protected}protected{elseif $member->private}private{else}public{/if}
{/define}
