{varType ApiGenX\Renderer\Latte\Template\GlobalParameters $global}

{define methodSummary, ApiGenX\Info\ClassLikeInfo $classLike}
	{if $classLike->methods}
		<table class="table" id="methods">
			<tr>
				<th class="table-heading" colspan="3">Methods</th>
			</tr>

			{foreach $classLike->methods as $method}
				{include method, classLike: $classLike, method: $method}
			{/foreach}
		</table>
	{/if}
{/define}
