{define parameter, ApiGenX\Info\ClassLikeInfo $classLike, ApiGenX\Info\ParameterInfo $parameter}{*
	*}<span>{*
		*}{if $parameter->type}{include type, type: $parameter->type} {/if}{*
		*}{if $parameter->byRef}&amp;{/if}{if $parameter->variadic}...{/if}<var>${$parameter->name}</var>{*
		*}{if $parameter->default} = {include expr, expr: $parameter->default, scope: $classLike}{/if}{*
	*}</span>{*
*}{/define}
