{varType ApiGenX\Renderer\Latte\Template\GlobalParameters $global}

{define propertySummary, ApiGenX\Info\ClassLikeInfo $classLike}
	{if $classLike->properties}
		<table class="table" id="properties">
			<tr>
				<th class="table-heading sortable" colspan="4" title="Switch between natural and alphabetical order">Properties</th>
			</tr>

			{foreach $classLike->properties as $property}
				{include property, classLike: $classLike, property: $property}
			{/foreach}
		</table>
	{/if}
{/define}
