[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Features/Php81/NewInInitializers/NewInInitializers.php'
    properties: {
      time: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'DateTimeInterface'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'ClassLike'
            )
            classLikeReference: @ApiGen\Info\ClassLikeReferenceInfo(
              full: 'DateTimeInterface'
              fullLower: 'datetimeinterface'
            )
          }
        )
        name: 'time'
        startLine: 13
        endLine: 16
        public: true
      )
    }
    methods: {
      __construct: @ApiGen\Info\MethodInfo(
        nameLower: '__construct'
        parameters: {
          time: @ApiGen\Info\ParameterInfo(
            name: 'time'
            position: 0
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'DateTimeInterface'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'ClassLike'
                )
                classLikeReference: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'DateTimeInterface'
                  fullLower: 'datetimeinterface'
                )
              }
            )
            default: @ApiGen\Info\Expr\NewExprInfo(
              classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                full: 'DateTimeImmutable'
                fullLower: 'datetimeimmutable'
              )
              args: [
                @ApiGen\Info\Expr\ArgExprInfo(
                  name: null
                  value: @ApiGen\Info\Expr\StringExprInfo(
                    value: 'now'
                    raw: '''now'''
                  )
                ),
                @ApiGen\Info\Expr\ArgExprInfo(
                  name: null
                  value: @ApiGen\Info\Expr\NewExprInfo(
                    classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                      full: 'DateTimeZone'
                      fullLower: 'datetimezone'
                    )
                    args: [
                      @ApiGen\Info\Expr\ArgExprInfo(
                        name: null
                        value: @ApiGen\Info\Expr\StringExprInfo(
                          value: 'Europe/Prague'
                          raw: '''Europe/Prague'''
                        )
                      ),
                    ]
                  )
                ),
              ]
            )
          )
        }
        name: '__construct'
        startLine: 12
        endLine: 18
        public: true
      )
      test: @ApiGen\Info\MethodInfo(
        nameLower: 'test'
        parameters: {
          time: @ApiGen\Info\ParameterInfo(
            name: 'time'
            position: 0
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'DateTimeInterface'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'ClassLike'
                )
                classLikeReference: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'DateTimeInterface'
                  fullLower: 'datetimeinterface'
                )
              }
            )
            default: @ApiGen\Info\Expr\NewExprInfo(
              classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                full: 'DateTimeImmutable'
                fullLower: 'datetimeimmutable'
              )
              args: [
                @ApiGen\Info\Expr\ArgExprInfo(
                  name: null
                  value: @ApiGen\Info\Expr\StringExprInfo(
                    value: 'today'
                    raw: '''today'''
                  )
                ),
              ]
            )
          )
        }
        name: 'test'
        startLine: 21
        endLine: 23
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php81\NewInInitializers\NewInInitializers'
    primary: true
    startLine: 10
    endLine: 24
    dependencies: {
      datetimeinterface: @ApiGen\Info\ClassLikeReferenceInfo(
        full: 'DateTimeInterface'
        fullLower: 'datetimeinterface'
      )
      datetimeimmutable: @ApiGen\Info\ClassLikeReferenceInfo(
        full: 'DateTimeImmutable'
        fullLower: 'datetimeimmutable'
      )
      datetimezone: @ApiGen\Info\ClassLikeReferenceInfo(
        full: 'DateTimeZone'
        fullLower: 'datetimezone'
      )
    }
  ),
]
