[
  @Class(
    file: '%rootDir%/tests/Features/Php81/NewInInitializers/NewInInitializers.php'
    properties: {
      time: @Property(
        type: @IdentifierType(
          name: 'DateTimeInterface'
          attributes: {
            kind: 'ClassLike'
            classLikeReference: @ClassLikeReference(
              full: 'DateTimeInterface'
            )
          }
        )
        name: 'time'
        public: true
      )
    }
    methods: {
      __construct: @Method(
        parameters: {
          time: @Parameter(
            name: 'time'
            position: 0
            type: @IdentifierType(
              name: 'DateTimeInterface'
              attributes: {
                kind: 'ClassLike'
                classLikeReference: @ClassLikeReference(
                  full: 'DateTimeInterface'
                )
              }
            )
            default: @NewExpr(
              classLike: @ClassLikeReference(
                full: 'DateTimeImmutable'
              )
              args: [
                @ArgExpr(
                  name: null
                  value: @StringExpr(
                    value: 'now'
                    raw: '''now'''
                  )
                ),
                @ArgExpr(
                  name: null
                  value: @NewExpr(
                    classLike: @ClassLikeReference(
                      full: 'DateTimeZone'
                    )
                    args: [
                      @ArgExpr(
                        name: null
                        value: @StringExpr(
                          value: 'Europe/Prague'
                          raw: '''Europe/Prague'''
                        )
                      ),
                    ]
                  )
                ),
              ]
            )
          )
        }
        name: '__construct'
        public: true
      )
      test: @Method(
        parameters: {
          time: @Parameter(
            name: 'time'
            position: 0
            type: @IdentifierType(
              name: 'DateTimeInterface'
              attributes: {
                kind: 'ClassLike'
                classLikeReference: @ClassLikeReference(
                  full: 'DateTimeInterface'
                )
              }
            )
            default: @NewExpr(
              classLike: @ClassLikeReference(
                full: 'DateTimeImmutable'
              )
              args: [
                @ArgExpr(
                  name: null
                  value: @StringExpr(
                    value: 'today'
                    raw: '''today'''
                  )
                ),
              ]
            )
          )
        }
        name: 'test'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php81\NewInInitializers\NewInInitializers'
    primary: true
  ),
  @ClassLikeReference(
    full: 'DateTimeImmutable'
  ),
  @ClassLikeReference(
    full: 'DateTimeInterface'
  ),
  @ClassLikeReference(
    full: 'DateTimeZone'
  ),
]
