- ApiGen\Events\ProgressBarIncrement
- ApiGen\Events\MemoryLimitCheckerOnProgress
- ApiGen\Events\LoadParsedElements
- ApiGen\Events\LoadRelativePathResolver
- ApiGen\Events\InjectConfig
- ApiGen\Events\SetIoOnConsoleRun
