[
  @Class(
    file: '%rootDir%/tests/Features/Php51/ArrayType/ArrayType.php'
    methods: {
      test: @Method(
        parameters: {
          array: @Parameter(
            name: 'array'
            position: 0
            type: @IdentifierType(
              name: 'array'
              attributes: {
                kind: 'Keyword'
              }
            )
          )
        }
        name: 'test'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php51\ArrayType\ArrayType'
    primary: true
  ),
]
