<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="generator" content="{$generator} {$version}">

	<title>{$config->title}</title>

	{var combined_js = 'resources/combined.js'}
	<script type="text/javascript" src="{$combined_js|staticFile}"></script>
	{var style_css = 'resources/style.css'}
	<link rel="stylesheet" type="text/css" media="all" href="{$style_css|staticFile}">
</head>

<body>
<div id="menu">
	<a href="overview.html" target="right" title="Overview"><span>Overview</span></a>

	<div id="entities">
		{if $packages}
		<h3>Packages</h3>
		<ul>
			{foreach $packages as $item}
			<li n:class="$package === $item || 0 === strpos($package, $item . '\\') ? active, $config->main && 0 === strpos($item, $config->main) ? main"><a href="{$item|packageUrl}" target="right">{$template->subpackageName($item) ?: $item}</a>
				{if substr_count($iterator->nextValue, '\\') > substr_count($item, '\\')}
					<span></span>
					<ul>
				{else}
					</li>
					{if substr_count($iterator->nextValue, '\\') < substr_count($item, '\\')}
						{!'</ul></li>'|repeat:substr_count($item, '\\') - substr_count($iterator->nextValue, '\\')}
					{/if}
				{/if}
			{/foreach}
		</ul>
		{/if}

		{if $namespaces}
		<h3>Namespaces</h3>
		<ul>
			{foreach $namespaces as $item}
			<li n:class="$namespace === $item || 0 === strpos($namespace, $item . '\\') ? active, $config->main && 0 === strpos($item, $config->main) ? main"><a href="{$item|namespaceUrl}" target="right">{$item|subnamespaceName}</a>
				{if substr_count($iterator->nextValue, '\\') > substr_count($item, '\\')}
					<span></span>
					<ul>
				{else}
					</li>
					{if substr_count($iterator->nextValue, '\\') < substr_count($item, '\\')}
						{!'</ul></li>'|repeat:substr_count($item, '\\') - substr_count($iterator->nextValue, '\\')}
					{/if}
				{/if}
			{/foreach}
		</ul>
		{/if}

		<hr n:if="($packages || $namespaces) && ($classes || $interfaces || $exceptions || $constants || $functions)">

		{if $classes}
		<h3>Classes</h3>
		<ul>
			<li n:foreach="$classes as $item" n:class="$class === $item ? active"><a href="{$item|classUrl}" target="right">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		</ul>
		{/if}

		{if $interfaces}
		<h3>Interfaces</h3>
		<ul>
			<li n:foreach="$interfaces as $item" n:class="$class === $item ? active"><a href="{$item|classUrl}" target="right">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		</ul>
		{/if}

		{if $exceptions}
		<h3>Exceptions</h3>
		<ul>
			<li n:foreach="$exceptions as $item" n:class="$class === $item ? active"><a href="{$item|classUrl}" target="right">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		</ul>
		{/if}

		{if $constants}
		<h3>Constants</h3>
		<ul>
			<li n:foreach="$constants as $item" n:class="$constant === $item ? active"><a href="{$item|constantUrl}" target="right">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		</ul>
		{/if}

		{if $functions}
		<h3>Functions</h3>
		<ul>
			<li n:foreach="$functions as $item" n:class="$function === $item ? active"><a href="{$item|functionUrl}" target="right">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		</ul>
		{/if}
	</div>
</div>
</body>
</html>
