[
  @Class(
    file: '%rootDir%/tests/Features/Php82/TrueType/TrueType.php'
    methods: {
      test: @Method(
        parameters: {
          value: @Parameter(
            name: 'value'
            position: 0
            type: @IdentifierType(
              name: 'true'
              attributes: {
                kind: 'Keyword'
              }
            )
          )
        }
        returnType: @IdentifierType(
          name: 'true'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'test'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php82\TrueType\TrueType'
    primary: true
  ),
]
