[
  @ApiGen\Info\FunctionInfo(
    file: '%rootDir%/tests/Features/Php71/NullableTypes/functions.php'
    returnType: @PHPStan\PhpDocParser\Ast\Type\NullableTypeNode(
      type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
        name: 'int'
        attributes: {
          kind: @ApiGen\Analyzer\IdentifierKind(
            name: 'Keyword'
          )
        }
      )
    )
    name: 'ApiGenTests\Features\Php71\NullableTypes\answer'
    primary: true
    startLine: 6
    endLine: 9
  ),
  @ApiGen\Info\FunctionInfo(
    file: '%rootDir%/tests/Features/Php71/NullableTypes/functions.php'
    parameters: {
      msg: @ApiGen\Info\ParameterInfo(
        name: 'msg'
        position: 0
        type: @PHPStan\PhpDocParser\Ast\Type\NullableTypeNode(
          type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
            name: 'string'
            attributes: {
              kind: @ApiGen\Analyzer\IdentifierKind(
                name: 'Keyword'
              )
            }
          )
        )
      )
    }
    name: 'ApiGenTests\Features\Php71\NullableTypes\say'
    primary: true
    startLine: 12
    endLine: 17
  ),
]
