[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Features/Php71/NullableTypes/NullableTypes.php'
    properties: {
      nullableProperty: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\NullableTypeNode(
          type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
            name: 'int'
            attributes: {
              kind: @ApiGen\Analyzer\IdentifierKind(
                name: 'Keyword'
              )
            }
          )
        )
        name: 'nullableProperty'
        startLine: 8
        endLine: 8
        public: true
      )
      nullablePromoted: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\NullableTypeNode(
          type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
            name: 'string'
            attributes: {
              kind: @ApiGen\Analyzer\IdentifierKind(
                name: 'Keyword'
              )
            }
          )
        )
        name: 'nullablePromoted'
        startLine: 12
        endLine: 12
        public: true
      )
    }
    methods: {
      __construct: @ApiGen\Info\MethodInfo(
        nameLower: '__construct'
        parameters: {
          nullablePromoted: @ApiGen\Info\ParameterInfo(
            name: 'nullablePromoted'
            position: 0
            type: @PHPStan\PhpDocParser\Ast\Type\NullableTypeNode(
              type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                name: 'string'
                attributes: {
                  kind: @ApiGen\Analyzer\IdentifierKind(
                    name: 'Keyword'
                  )
                }
              )
            )
          )
        }
        name: '__construct'
        startLine: 11
        endLine: 14
        public: true
      )
      test: @ApiGen\Info\MethodInfo(
        nameLower: 'test'
        parameters: {
          nullable: @ApiGen\Info\ParameterInfo(
            name: 'nullable'
            position: 0
            type: @PHPStan\PhpDocParser\Ast\Type\NullableTypeNode(
              type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                name: 'array'
                attributes: {
                  kind: @ApiGen\Analyzer\IdentifierKind(
                    name: 'Keyword'
                  )
                }
              )
            )
          )
        }
        returnType: @PHPStan\PhpDocParser\Ast\Type\NullableTypeNode(
          type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
            name: 'array'
            attributes: {
              kind: @ApiGen\Analyzer\IdentifierKind(
                name: 'Keyword'
              )
            }
          )
        )
        name: 'test'
        startLine: 17
        endLine: 20
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php71\NullableTypes\NullableTypes'
    primary: true
    startLine: 6
    endLine: 21
  ),
]
