[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Features/PhpDoc/Alias/ImportedTypeAlias.php'
    properties: {
      a: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'UserAddress'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Alias'
            )
            aliasReference: @ApiGen\Info\AliasReferenceInfo(
              classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                full: 'ApiGenTests\Features\PhpDoc\Alias\LocalTypeAlias'
                fullLower: 'apigentests\features\phpdoc\alias\localtypealias'
              )
              alias: 'UserAddress'
              aliasLower: 'useraddress'
            )
          }
        )
        name: 'a'
        startLine: 12
        endLine: 13
        public: true
      )
      b: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'DeliveryAddress'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Alias'
            )
            aliasReference: @ApiGen\Info\AliasReferenceInfo(
              classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                full: 'ApiGenTests\Features\PhpDoc\Alias\LocalTypeAlias'
                fullLower: 'apigentests\features\phpdoc\alias\localtypealias'
              )
              alias: 'UserAddress'
              aliasLower: 'useraddress'
            )
          }
        )
        name: 'b'
        startLine: 15
        endLine: 16
        public: true
      )
    }
    name: 'ApiGenTests\Features\PhpDoc\Alias\ImportedTypeAlias'
    primary: true
    startLine: 10
    endLine: 17
    dependencies: {
      apigentests\features\phpdoc\alias\localtypealias: @ApiGen\Info\ClassLikeReferenceInfo(
        full: 'ApiGenTests\Features\PhpDoc\Alias\LocalTypeAlias'
        fullLower: 'apigentests\features\phpdoc\alias\localtypealias'
      )
    }
  ),
]
