[
  @Class(
    file: '%rootDir%/tests/Features/PhpDoc/Alias/ImportedTypeAlias.php'
    properties: {
      a: @Property(
        type: @IdentifierType(
          name: 'UserAddress'
          attributes: {
            kind: 'Alias'
            aliasReference: @AliasReference(
              classLike: @ClassLikeReference(
                full: 'ApiGenTests\Features\PhpDoc\Alias\LocalTypeAlias'
              )
              alias: 'UserAddress'
              aliasLower: 'useraddress'
            )
          }
        )
        name: 'a'
        public: true
      )
      b: @Property(
        type: @IdentifierType(
          name: 'DeliveryAddress'
          attributes: {
            kind: 'Alias'
            aliasReference: @AliasReference(
              classLike: @ClassLikeReference(
                full: 'ApiGenTests\Features\PhpDoc\Alias\LocalTypeAlias'
              )
              alias: 'UserAddress'
              aliasLower: 'useraddress'
            )
          }
        )
        name: 'b'
        public: true
      )
    }
    name: 'ApiGenTests\Features\PhpDoc\Alias\ImportedTypeAlias'
    primary: true
    dependencies: {
      apigentests\features\phpdoc\alias\localtypealias: @ClassLikeReference(
        full: 'ApiGenTests\Features\PhpDoc\Alias\LocalTypeAlias'
      )
    }
  ),
]
