[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Features/PhpDoc/Alias/LocalTypeAlias.php'
    properties: {
      address: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'UserAddress'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Alias'
            )
            aliasReference: @ApiGen\Info\AliasReferenceInfo(
              classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                full: 'ApiGenTests\Features\PhpDoc\Alias\LocalTypeAlias'
                fullLower: 'apigentests\features\phpdoc\alias\localtypealias'
              )
              alias: 'UserAddress'
              aliasLower: 'useraddress'
            )
          }
        )
        name: 'address'
        startLine: 13
        endLine: 14
        public: true
      )
    }
    aliases: {
      useraddress: @ApiGen\Info\AliasInfo(
        name: 'UserAddress'
        type: @PHPStan\PhpDocParser\Ast\Type\ArrayShapeNode(
          items: [
            @PHPStan\PhpDocParser\Ast\Type\ArrayShapeItemNode(
              keyName: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                name: 'street'
              )
              optional: false
              valueType: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                name: 'string'
                attributes: {
                  kind: @ApiGen\Analyzer\IdentifierKind(
                    name: 'Keyword'
                  )
                }
              )
            ),
            @PHPStan\PhpDocParser\Ast\Type\ArrayShapeItemNode(
              keyName: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                name: 'city'
              )
              optional: false
              valueType: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                name: 'string'
                attributes: {
                  kind: @ApiGen\Analyzer\IdentifierKind(
                    name: 'Keyword'
                  )
                }
              )
            ),
            @PHPStan\PhpDocParser\Ast\Type\ArrayShapeItemNode(
              keyName: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                name: 'zip'
              )
              optional: false
              valueType: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                name: 'DateTimeImmutable'
                attributes: {
                  kind: @ApiGen\Analyzer\IdentifierKind(
                    name: 'ClassLike'
                  )
                  classLikeReference: @ApiGen\Info\ClassLikeReferenceInfo(
                    full: 'DateTimeImmutable'
                    fullLower: 'datetimeimmutable'
                  )
                }
              )
            ),
          ]
        )
        startLine: 8
        endLine: 10
      )
    }
    name: 'ApiGenTests\Features\PhpDoc\Alias\LocalTypeAlias'
    primary: true
    tags: {
      phpstan-type: [
        @PHPStan\PhpDocParser\Ast\PhpDoc\TypeAliasTagValueNode(
          alias: 'UserAddress'
          type: @PHPStan\PhpDocParser\Ast\Type\ArrayShapeNode(
            items: [
              @PHPStan\PhpDocParser\Ast\Type\ArrayShapeItemNode(
                keyName: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                  name: 'street'
                )
                optional: false
                valueType: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                  name: 'string'
                  attributes: {
                    kind: @ApiGen\Analyzer\IdentifierKind(
                      name: 'Keyword'
                    )
                  }
                )
              ),
              @PHPStan\PhpDocParser\Ast\Type\ArrayShapeItemNode(
                keyName: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                  name: 'city'
                )
                optional: false
                valueType: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                  name: 'string'
                  attributes: {
                    kind: @ApiGen\Analyzer\IdentifierKind(
                      name: 'Keyword'
                    )
                  }
                )
              ),
              @PHPStan\PhpDocParser\Ast\Type\ArrayShapeItemNode(
                keyName: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                  name: 'zip'
                )
                optional: false
                valueType: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
                  name: 'DateTimeImmutable'
                  attributes: {
                    kind: @ApiGen\Analyzer\IdentifierKind(
                      name: 'ClassLike'
                    )
                    classLikeReference: @ApiGen\Info\ClassLikeReferenceInfo(
                      full: 'DateTimeImmutable'
                      fullLower: 'datetimeimmutable'
                    )
                  }
                )
              ),
            ]
          )
        ),
      ]
    }
    startLine: 11
    endLine: 15
    dependencies: {
      apigentests\features\phpdoc\alias\localtypealias: @ApiGen\Info\ClassLikeReferenceInfo(
        full: 'ApiGenTests\Features\PhpDoc\Alias\LocalTypeAlias'
        fullLower: 'apigentests\features\phpdoc\alias\localtypealias'
      )
    }
  ),
]
