[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Features/Php56/VariadicFunctions/VariadicFunctions.php'
    methods: {
      querya: @ApiGen\Info\MethodInfo(
        nameLower: 'querya'
        parameters: {
          query: @ApiGen\Info\ParameterInfo(
            name: 'query'
            position: 0
          )
          params: @ApiGen\Info\ParameterInfo(
            name: 'params'
            position: 1
            variadic: true
          )
        }
        name: 'queryA'
        startLine: 10
        endLine: 12
        public: true
      )
      queryb: @ApiGen\Info\MethodInfo(
        nameLower: 'queryb'
        parameters: {
          query: @ApiGen\Info\ParameterInfo(
            name: 'query'
            position: 0
          )
          params: @ApiGen\Info\ParameterInfo(
            name: 'params'
            position: 1
            byRef: true
            variadic: true
          )
        }
        name: 'queryB'
        startLine: 15
        endLine: 17
        public: true
      )
      queryc: @ApiGen\Info\MethodInfo(
        nameLower: 'queryc'
        parameters: {
          query: @ApiGen\Info\ParameterInfo(
            name: 'query'
            position: 0
          )
          params: @ApiGen\Info\ParameterInfo(
            name: 'params'
            position: 1
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'DateTimeInterface'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'ClassLike'
                )
                classLikeReference: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'DateTimeInterface'
                  fullLower: 'datetimeinterface'
                )
              }
            )
            variadic: true
          )
        }
        name: 'queryC'
        startLine: 20
        endLine: 22
        public: true
      )
      queryd: @ApiGen\Info\MethodInfo(
        nameLower: 'queryd'
        parameters: {
          query: @ApiGen\Info\ParameterInfo(
            name: 'query'
            position: 0
          )
          params: @ApiGen\Info\ParameterInfo(
            name: 'params'
            position: 1
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'DateTimeInterface'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'ClassLike'
                )
                classLikeReference: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'DateTimeInterface'
                  fullLower: 'datetimeinterface'
                )
              }
            )
            byRef: true
            variadic: true
          )
        }
        name: 'queryD'
        startLine: 25
        endLine: 27
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php56\VariadicFunctions\VariadicFunctions'
    primary: true
    startLine: 8
    endLine: 28
    dependencies: {
      datetimeinterface: @ApiGen\Info\ClassLikeReferenceInfo(
        full: 'DateTimeInterface'
        fullLower: 'datetimeinterface'
      )
    }
  ),
]
