body {
    font: 1.4em Verdana, 'Geneva CE', lucida, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #333333;
}

h1, h2 {
    font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
}

h1 {
    color: #1e5eb6;
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    color: #053368;
    font-size: 1.2em;
    font-weight: bold;
}

.table > tbody > tr > th {
    background: #ecede5;
    font-size: 1.2em;
    padding-top: .3em;
    padding-bottom: .3em;
}

p {
    margin: .7em 0 1em;
    padding: 0;
}

a, td a {
    color: #006aeb;
    padding: 3px 1px;
    text-decoration: none;
}

a:hover, a:active, a:focus, a:hover b, a:hover var {
    background-color: #006aeb;
    color: #ffffff !important;
    text-decoration: none;
}

code, var, pre {
    font-family: monospace;
}

pre {
    margin: 0;
}

.deprecated {
    text-decoration: line-through;
    opacity: .5;
}
.deprecated span, .deprecated a {
    text-decoration: line-through;
}

/* Search */
#search {
    margin-top: .3em;
    margin-bottom: -.1em;
}

#search input.text {
    width: 25em;
}

/* Autocomplete */
.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete > li {
    padding: 0;
}

.ui-autocomplete > li a {
    color: #555;
    display: block;
    padding-left: 10px;
}

.ui-autocomplete > li b {
    font-weight: bold;
}

.ui-autocomplete .ui-state-hover,
.ui-autocomplete .ui-state-active {
    background: #006aeb;
    color: white;
}

.ui-helper-hidden-accessible {
    display: none;
}


/* Navigation */
#navigation {
    background: #f6f6f4;
    border-bottom: 1px solid #e7e7e7;
}

.navbar {
    min-height: 1em;
    margin-bottom: .4em;
}

#navigation .separator {
    border-left: 1px solid #000000;
    padding: 0 .5em;
}

#navigation ul li {
    margin: .35em 0 0 0;
    padding: 0 .3em;
    font-family: Verdana, 'Geneva CE', lucida, sans-serif;
}

#navigation ul li a {
    color: #000000;
    padding: .35em .6em;
    font-weight: bold;
}

#navigation ul li a:hover {
    background: #006aeb;
}

#navigation ul li a.active {
    color: white;
    background: #053368;
}

/* Breadcrumbs */
#breadcrumbs {
    background: rgba(0, 106, 235, 0.05);
}

#breadcrumbs .type {
    margin: .5em 0 0 0;
}

#breadcrumbs .breadcrumb {
    background: none;
    margin-bottom: 0;
    padding-bottom: .7em;
}

#breadcrumbs .backslash {
    color: #ccc;
    padding: 0 .2em;
}

dl.tree {
    margin: 1.2em 0;
}

dl.tree dd {
    margin: 0;
    padding: 0;
}

.info {
    margin: 1.2em 0;
}

.table {
    margin-bottom: 2em;
}

.summary .description pre {
    border: .5em solid #ecede5;
}

.summary .description p {
    margin: 0;
}

.summary .description p + p, .summary .description ul {
    margin: 3px 0 0 0;
}

.summary dl {
    margin: 0;
}

.summary dd {
    margin: 0 0 0 25px;
}

.name, .attributes {
    white-space: nowrap;
}

.value code {
    white-space: pre-wrap;
}

table .name > div > code {
    white-space: pre-wrap;
}

table .name > div > code span
{
    white-space: nowrap;
    display: inline-block;
}
table .name > div > .description
{
    white-space: normal;
}

.anchor {
    line-height: 1em;
    margin-top: -.2em;
    padding: .6em;
}

.list {
    margin: 0 0 5px 25px;
}

/* Footer */
#footer {
    border-top: 1px solid #e9eeef;
    clear: both;
    color: #a7a7a7;
    font-size: .8em;
    text-align: center;
    padding: 20px 0 0;
    margin: 3em 0 0;
    height: 14em;
    background: #ffffff url('footer.png') no-repeat center top;
}

/* Source code */
#source pre {
    background: none;
    border: 0;
}
#source pre.numbers {
    padding-right: 0;
}
#source pre.numbers a {
    background: transparent;
    color: #929292 !important;
}
#source pre.code {
    padding-left: 0;
}
#source pre.code span {
	white-space: pre;
}
.php-keyword1 {
    color: #e71818;
    font-weight: bold;
}

.php-keyword2 {
    font-weight: bold;
}

.php-var {
    color: #d59401;
    font-weight: bold;
}

.php-num {
    color: #cd0673;
}

.php-quote {
    color: #008000;
}

.php-comment {
    color: #929292;
}

.xlang {
    color: #ff0000;
    font-weight: bold;
}

pre.numbers {
    float: left;
}

span.l {
    display: block;
}

span.l.selected {
    background: #f6f6f4;
}

span.l a {
    color: #333333;
}

span.l a:hover, div.l a:active, div.l a:focus {
    background: transparent;
    color: #333333 !important;
}

span.l .php-var a {
    color: #d59401;
}

span.l .php-var a:hover, span.l .php-var a:active, span.l .php-var a:focus {
    color: #d59401 !important;
}

span.l a.l {
    padding-left: 2px;
    color: #c0c0c0;
}

span.l a.l:hover, span.l a.l:active, span.l a.l:focus {
    background: transparent;
    color: #c0c0c0 !important;
}

/* Common Styling */
.open-source-code {
    font-weight: bold;
}

.constant-name {
    font-weight: bold;
}

.property-name {
    font-weight: bold;
    font-style: normal;
    color: #ca8a04;
}

p {
    line-height: 1.3em;
}

/* Bootstrap Reset */
code {
    background: none;
    color: inherit;
}
code.keyword {
    color: #c7254e;
}

.form-control {
    border-radius: 0;
    margin-bottom: 0;
    height: 2.3em;
}

.breadcrumb>li+li:before {
    padding: 0;
    content: "";
}

.panel {
    border-radius: 0;
    margin-bottom: 2em;
}

.panel pre {
    padding: .6em;
    background: #fcfcf7;
    margin: .5em 0;
}

.panel-default {
    background-color: #ecede5;
}
