body {
    font: 1.4em Verdana, 'Geneva CE', lucida, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #333333;
}

h1, h2 {
    font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
    color: #053368;
}

h1 {
    font-size: 2em;
    margin-bottom: .7em;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

tr th {
    background: #ecede5;
    font-size: 1.2em;
}

p {
    margin: .7em 0 1em;
    padding: 0;
}

a, td a {
    color: #006aeb;
    padding: 3px 1px;
    text-decoration: none;
}

a:hover, a:active, a:focus, a:hover b, a:hover var {
    background-color: #006aeb;
    color: #ffffff !important;
}

code, var, pre {
    font-family: monospace;
}

pre {
    margin: 0;
}

.deprecated {
    text-decoration: line-through;
    opacity: .5;
}

/* Menu */
#menu {
    padding: 10px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul ul {
    padding-left: 10px;
}

#menu li {
    white-space: nowrap;
    position: relative;
}

#menu a {
    display: block;
    padding: 0 2px;
}

#menu .active > a, #menu > span {
    color: #333333;
    background: none;
    font-weight: bold;
}

#menu .active > a:hover, #menu .active > a:active, #menu .active > a:focus {
    background-color: #006aeb;
}

/* Search */
#search {
    float: right;
    margin: 3px 8px;
}

#search input.text {
    padding: 3px 5px;
    width: 250px;
}

/* Autocomplete */
.ac_results {
    padding: 0;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font: 12px 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.ac_results li strong {
    color: #000000;
}

.ac_odd {
    background-color: #eeeeee;
}

.ac_over {
    background-color: #006aeb;
    color: #ffffff;
}

.ac_results li.ac_over strong {
    color: #ffffff;
}

/* Navigation */
#navigation {
    padding: .3em .7em;
    background-color: #f6f6f4;
}

#navigation ul {
    list-style: none;
    margin: 0 8px 4px 0;
    padding: 0;
    overflow: hidden;
    float: left;
}

#navigation .separator {
    border-left: 1px solid #000000;
    padding: 0 .5em;
}

#navigation ul li {
    float: left;
    margin: 2px;
    padding: 0 .2em;
    font-family: Verdana, 'Geneva CE', lucida, sans-serif;
    color: #808080;
}

#navigation ul li a {
    color: #000000;
    padding: .4em;
}

#navigation ul li a.active {
    font-weight: bold;
    color: white;
    background: #053368;
}

#navigation ul li a:hover span, #navigation ul li a:active span, #navigation ul li a:focus span {
    background-color: #006aeb;
}



/*!* Content *!*/
/*#content {*/
    /*clear: both;*/
    /*padding: 5px 15px;*/
/*}*/

.description pre {
    padding: .6em;
    background: #fcfcf7;
}

.description {
    background: #ecede5;
    padding: 1px 8px;
    margin: 1.2em 0;
}

.description pre {
    margin: .5em 0;
}

dl.tree {
    margin: 1.2em 0;
}

dl.tree dd {
    margin: 0;
    padding: 0;
}

.info {
    margin: 1.2em 0;
}

.table {
    margin-bottom: 2em;
}

.summary .description pre {
    border: .5em solid #ecede5;
}

.summary .description p {
    margin: 0;
}

.summary .description p + p, .summary .description ul {
    margin: 3px 0 0 0;
}

.summary dl {
    margin: 0;
}

.summary dd {
    margin: 0 0 0 25px;
}

.name, .attributes {
    white-space: nowrap;
}

.value code {
    white-space: pre-wrap;
}

td.name, td.attributes {
    width: 1%;
}

td.attributes {
    width: 1%;
}

table .name > div > code {
    white-space: pre-wrap;
}

table .name > div > code span
{
    white-space: nowrap;
    display: inline-block;
}

.anchor {
    line-height: 1em;
    margin-top: -.2em;
    padding: .6em;
}

.list {
    margin: 0 0 5px 25px;
}

/* Footer */
#footer {
    border-top: 1px solid #e9eeef;
    clear: both;
    color: #a7a7a7;
    font-size: .8em;
    text-align: center;
    padding: 20px 0 0;
    margin: 3em 0 0;
    height: 14em;
    background: #ffffff url('footer.png') no-repeat center top;
}

/* Source code */
.php-keyword1 {
    color: #e71818;
    font-weight: bold;
}

.php-keyword2 {
    font-weight: bold;
}

.php-var {
    color: #d59401;
    font-weight: bold;
}

.php-num {
    color: #cd0673;
}

.php-quote {
    color: #008000;
}

.php-comment {
    color: #929292;
}

.xlang {
    color: #ff0000;
    font-weight: bold;
}

pre.numbers {
    float: left;
}

span.l {
    display: block;
}

span.l.selected {
    background: #f6f6f4;
}

span.l a {
    color: #333333;
}

span.l a:hover, div.l a:active, div.l a:focus {
    background: transparent;
    color: #333333 !important;
}

span.l .php-var a {
    color: #d59401;
}

span.l .php-var a:hover, span.l .php-var a:active, span.l .php-var a:focus {
    color: #d59401 !important;
}

span.l a.l {
    padding-left: 2px;
    color: #c0c0c0;
}

span.l a.l:hover, span.l a.l:active, span.l a.l:focus {
    background: transparent;
    color: #c0c0c0 !important;
}

/* Common Styling */
.open-source-code {
    font-weight: bold;
}

.constant-name {
    font-weight: bold;
}

.property-name {
    font-weight: bold;
    font-style: normal;
    color: #ca8a04;
}

p {
    line-height: 1.3em;
}

/* Bootstrap Reset */
code {
    background: none;
}

a:hover, a:focus {
    text-decoration: none;
}

