<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="generator" content="ApiGen {$version}; http://apigen.org">
	<meta name="robots" content="noindex" n:ifset="$noindex">

	<title>{if $config->title}{$config->title} | {/if}{block title}{$title}{/block}</title>

	{var combined_js => 'resources/combined.js'}
	<script type="text/javascript" src="{$combined_js|staticFile}"></script>
	{var allclasses_js => 'allclasses.js'}
	<script type="text/javascript" src="{$allclasses_js|staticFile}"></script>
	{var style_css => 'resources/style.css'}
	<link rel="stylesheet" type="text/css" media="all" href="{$style_css|staticFile}">
	<link n:if="$config->googleCse" rel="search" type="application/opensearchdescription+xml" title="{$config->title}" href="{$config->baseUrl}/opensearch.xml">
</head>

<body>
<div id="main">
<div id="leftWrapper">
	<div id="left">
		<a href="index.html">Overview</a>

		{if $packages}
		<h3>Packages</h3>
		<ul>
			<li n:if="$package" class="all"><a href="index.html#packages">All</a></li>
			{foreach $packages as $item}
			<li n:class="$package === $item ? active"><a href="{$item|packageLink}">{$item ? $item : 'None'}</a></li>
			{/foreach}
		</ul>
		{/if}

		{if $namespaces}
		<h3>Namespaces</h3>
		<ul>
			<li n:if="$namespace" class="all"><a href="index.html#namespaces">All</a></li>
			{foreach $namespaces as $item}
			<li n:class="$namespace === $item ? active"><a href="{$item|namespaceLink}">{$item ? $item : 'None'}</a>
				{if substr_count($iterator->nextValue, '\\') > substr_count($item, '\\')}
					<ul>
				{else}
					</li>
					{if substr_count($iterator->nextValue, '\\') < substr_count($item, '\\')}
						{!=str_repeat('</ul></li>', substr_count($item, '\\') - substr_count($iterator->nextValue, '\\'))}
					{/if}
				{/if}
			{/foreach}
		</ul>
		{/if}

		{if $classes}
		<h3>Classes</h3>
		<ul>
		{if $class}
			<li class="all"><a href="allclasses.html#classes">All</a></li>
			<li n:if="$package" class="all"><a href="{$package|packageLink}#classes">All in package {$package}</a></li>
			<li n:if="$namespace" class="all"><a href="{$namespace|namespaceLink}#classes">All in namespace {$namespace}</a></li>
		{/if}
		{foreach $classes as $item}
			<li n:class="$class === $item ? active"><a href="{$item|classLink}">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		{/foreach}
		</ul>
		{/if}

		{if $interfaces}
		<h3>Interfaces</h3>
		<ul>
		{if $class}
			<li class="all"><a href="allclasses.html#interfaces">All</a></li>
			<li n:if="$package" class="all"><a href="{$package|packageLink}#interfaces">All in package {$package}</a></li>
			<li n:if="$namespace" class="all"><a href="{$namespace|namespaceLink}#interfaces">All in namespace {$namespace}</a></li>
		{/if}
		{foreach $interfaces as $item}
			<li n:class="$class === $item ? active"><a href="{$item|classLink}">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		{/foreach}
		</ul>
		{/if}

		{if $exceptions}
		<h3>Exceptions</h3>
		<ul>
		{if $class}
			<li class="all"><a href="allclasses.html#exceptions">All</a></li>
			<li n:if="$package" class="all"><a href="{$package|packageLink}#exceptions">All in package {$package}</a></li>
			<li n:if="$namespace" class="all"><a href="{$namespace|namespaceLink}#exceptions">All in namespace {$namespace}</a></li>
		{/if}
		{foreach $exceptions as $item}
			<li n:class="$class === $item ? active"><a href="{$item|classLink}">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		{/foreach}
		</ul>
		{/if}
	</div>
</div>
<div id="rightWrapper">
	<div id="right">
		<form n:if="$config->googleCse" action="http://www.google.com/cse" id="search" onsubmit="if(this.q.value.indexOf('more:')==-1)this.q.value+=' more:api'">
			<input type="hidden" name="cx" value="{$config->googleCse}"><input type="hidden" name="ie" value="UTF-8"><input type="text" name="q" class="text"><input type="submit" value="Search">
		</form>

		{include #content}

		<div id="footer">
			{$config->title} API documentation generated by <a href="http://github.com/Andrewsville" class="gravatar"><img src="http://gravatar.com/avatar/b2acbf0c8af3bdb2a57176d954ff8ba1?s=12" alt="Andrewsville" /></a>&amp;<a href="http://github.com/kukulich" class="gravatar"><img src="http://gravatar.com/avatar/d106644a59a117503d480ec2edf48368?s=12" alt="Kukulich" /></a> <a href="http://github.com/Andrewsville/apigen">ApiGen</a>, a fork of the original <a href="http://github.com/nette/apigen">tool</a>.<br />
			Generated using the <a href="https://github.com/Andrewsville/PHP-Token-Reflection" title="All your tokens are belong to us">TokenReflection</a> library.
		</div>
	</div>
</div>
</div>
</body>
</html>
