<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="generator" content="ApiGen {$version}">
	<meta name="robots" content="noindex" n:ifset="$noindex">

	<title>{include #title}{if !isset($overview) && $config->title} | {$config->title}{/if}</title>

	{var combined_js => 'resources/combined.js'}
	<script type="text/javascript" src="{$combined_js|staticFile}"></script>
	{var allclasses_js => 'allclasses.js'}
	<script n:if="$config->googleCse" type="text/javascript" src="{$allclasses_js|staticFile}"></script>
	{var style_css => 'resources/style.css'}
	<link rel="stylesheet" type="text/css" media="all" href="{$style_css|staticFile}">
	<link n:if="$config->googleCse" rel="search" type="application/opensearchdescription+xml" title="{$config->title}" href="{$config->baseUrl}/opensearch.xml">

	<script n:if="$config->googleAnalytics" type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', {$config->googleAnalytics}]);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>

<body>
<div id="main">
<div id="leftWrapper">
	<div id="left">
		<a href="index.html">Overview</a>

		{if $packages}
		<h3>Packages</h3>
		<ul>
			{foreach $packages as $item}
			<li n:class="$package === $item ? active"><a href="{$item|packageLink}">{$item}</a></li>
			{/foreach}
		</ul>
		{/if}

		{if $namespaces}
		<h3>Namespaces</h3>
		<ul>
			{foreach $namespaces as $item}
			<li n:class="$namespace === $item ? active"><a href="{$item|namespaceLink}">{$item}</a>
				{if substr_count($iterator->nextValue, '\\') > substr_count($item, '\\')}
					<ul>
				{else}
					</li>
					{if substr_count($iterator->nextValue, '\\') < substr_count($item, '\\')}
						{!=str_repeat('</ul></li>', substr_count($item, '\\') - substr_count($iterator->nextValue, '\\'))}
					{/if}
				{/if}
			{/foreach}
		</ul>
		{/if}

		<hr>

		{if $classes}
		<h3>Classes</h3>
		<ul>
		{foreach $classes as $item}
			<li n:class="$class === $item ? active"><a href="{$item|classLink}">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		{/foreach}
		</ul>
		{/if}

		{if $interfaces}
		<h3>Interfaces</h3>
		<ul>
		{foreach $interfaces as $item}
			<li n:class="$class === $item ? active"><a href="{$item|classLink}">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		{/foreach}
		</ul>
		{/if}

		{if $exceptions}
		<h3>Exceptions</h3>
		<ul>
		{foreach $exceptions as $item}
			<li n:class="$class === $item ? active"><a href="{$item|classLink}">{if $namespace}{$item->shortName}{else}{$item->name}{/if}</a></li>
		{/foreach}
		</ul>
		{/if}
	</div>
</div>
<div id="rightWrapper">
	<div id="right">
		<form n:if="$config->googleCse" action="http://www.google.com/cse" id="search" onsubmit="if(this.q.value.indexOf('more:')==-1)this.q.value+=' more:api'">
			<input type="hidden" name="cx" value="{$config->googleCse}"><input type="hidden" name="ie" value="UTF-8"><input type="text" name="q" class="text"><input type="submit" value="Search">
		</form>

		{include #content}

		<div id="footer">
			{$config->title} API documentation generated by <a href="http://github.com/Andrewsville/apigen">TR ApiGen</a>.<br>
			Generated using the <a href="https://github.com/Andrewsville/PHP-Token-Reflection" title="All your tokens are belong to us">TokenReflection</a> library.
		</div>
	</div>
</div>
</div>
</body>
</html>
