resources:
	resources: resources

templates:
	common:
		index.html: overview.latte
		resources/combined.js: combined.js.latte
		elementlist.js: elementlist.js.latte

	main:
		package:
			filename: package-%s.html
			template: package.latte
		namespace:
			filename: namespace-%s.html
			template: namespace.latte
		class:
			filename: class-%s.html
			template: class.latte
		constant:
			filename: constant-%s.html
			template: constant.latte
		function:
			filename: function-%s.html
			template: function.latte
		source:
			filename: source-%s.html
			template: source.latte
		tree:
			filename: tree.html
			template: tree.latte
		deprecated:
			filename: deprecated.html
			template: deprecated.latte
		todo:
			filename: todo.html
			template: todo.latte

	optional:
		sitemap:
			filename: sitemap.xml
			template: sitemap.xml.latte
		opensearch:
			filename: opensearch.xml
			template: opensearch.xml.latte
