<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
	<loc>{$config->baseUrl}/index.html</loc>
</url>
{foreach $packages as $package}
<url>
	<loc>{$config->baseUrl}/{$package|packageLink}</loc>
</url>
{/foreach}
{foreach $namespaces as $namespace}
<url>
	<loc>{$config->baseUrl}/{$namespace|namespaceLink}</loc>
</url>
{/foreach}
{foreach $classes as $class}
<url>
	<loc>{$config->baseUrl}/{$class|classLink}</loc>
</url>
{/foreach}
</urlset>
