<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
	<loc>{$config->baseUrl}/index.html</loc>
</url>
{foreach $packages as $package}
<url>
	<loc>{$config->baseUrl}/{$package|packageUrl}</loc>
</url>
{/foreach}
{foreach $namespaces as $namespace}
<url>
	<loc>{$config->baseUrl}/{$namespace|namespaceUrl}</loc>
</url>
{/foreach}
{foreach $classes as $class}
<url>
	<loc>{$config->baseUrl}/{$class|classUrl}</loc>
</url>
{/foreach}
{foreach $interfaces as $interface}
<url>
	<loc>{$config->baseUrl}/{$interface|classUrl}</loc>
</url>
{/foreach}
{foreach $exceptions as $exception}
<url>
	<loc>{$config->baseUrl}/{$exception|classUrl}</loc>
</url>
{/foreach}
{foreach $constants as $constant}
<url>
	<loc>{$config->baseUrl}/{$constant|constantUrl}</loc>
</url>
{/foreach}
{foreach $functions as $function}
<url>
	<loc>{$config->baseUrl}/{$function|functionUrl}</loc>
</url>
{/foreach}
</urlset>
