{layout '@layout.latte'}
{var $active => 'tree'}

{block #title}Tree{/block}

{block #content}
<div id="content">
	<h1>{include #title}</h1>

	{if $classTree->valid()}
		<h3>Classes</h3>
		{include '@treeitem.latte', tree => $classTree}
	{/if}

	{if $interfaceTree->valid()}
		<h3>Interfaces</h3>
		{include '@treeitem.latte', tree => $interfaceTree}
	{/if}

	{if $exceptionTree->valid()}
		<h3>Exceptions</h3>
		{include '@treeitem.latte', tree => $exceptionTree}
	{/if}
</div>
{/block}
