/* reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
td,
th {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	line-height: 1;
}

table {
	border-collapse: collapse;
}

ul, li {
	list-style: none;
}


/* base */
body {
	font: 13px/1.5 Verdana, 'Geneva CE', lucida, sans-serif;
	background: #ffffff;
	color: #333333;
}

h1, h2, h3, h4, caption {
	font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
	color: #053368;
}

h1 {
	color: #1e5eb6;
	font-size: 230%;
	font-weight: normal;
	margin: .3em 0;
}

h2 {
	color: #1e5eb6;
	font-size: 150%;
	font-weight: normal;
	margin: -.3em 0 .3em 0;
}

h3 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 2px;
	margin-top: 1em;
}

h4 {
	font-size: 100%;
	font-weight: bold;
	padding: 0;
	margin-top: 1em;
}

h4 + * {
	margin-left: 1em;
}

caption {
	border: 1px solid #cccccc;
	background: #ecede5;
	font-weight: bold;
	font-size: 1.2em;
	padding: 3px 5px;
	text-align: left;
	margin-bottom: 0;
}

p:not(:first-child) {
	margin: .7em 0 1em;
	padding: 0;
}

hr {
	margin: 2em 0 1em;
	border: none;
	border-top: 1px solid #cccccc;
	height: 0;
}

a {
	color: #006aeb;
	padding: 3px 1px;
	text-decoration: none;
}

h1 a {
	color: #1e5eb6;
}

a:hover, a:active, a:focus, a:hover b, a:hover var {
	background-color: #006aeb;
	color: #ffffff !important;
}

code, var, pre {
	font-family: monospace;
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre;
}

var {
	font-weight: bold;
	font-style: normal;
	color: #ca8a04;
}

pre {
	margin: 0;
}

code a b {
	color: #000000;
}

.deprecated {
	text-decoration: line-through;
	opacity: 50%;
}


/* classTree */
.classTree {
	list-style: none;
	padding: 0;
	margin: 0;
}

.classTree .classTree li {
	padding-left: 30px;
	background: url('images/tree-vertical.png') left repeat-y, url('images/tree-hasnext.png') left 10px no-repeat;
}

.classTree .classTree li:last-child {
	background: url('images/tree-last.png') left -240px no-repeat;
}


/* expandable */
.expandable.collapsed .expandable-expandedView,
.expandable:not(.collapsed) .expandable-collapsedView {
	display: none;
}


/* elementSummary */
.elementSummary .table-cell:first-child {
	width: 200px;
}


/* layout */
.layout {
	display: flex;
	flex-direction: row;
	max-width: 1400px;
}

.layout-aside {
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	scrollbar-width: none;
	background-color: white;
}

.layout-aside::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.layout-main {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	margin-left: 320px;
}

.layout-content {
	flex: 1 1 0;
}

.layout-footer {
	flex: 0 0 auto;
}


/* menu */
.menu {
	padding: 10px;
}

.menu > *:first-child {
	margin-top: 0;
}

.menu ul ul {
	padding-left: 10px;
}

.menu li {
	white-space: nowrap;
}

.menu a {
	display: block;
	padding: 0 2px;
}

.menu .active > a, .menu > span {
	color: #333333;
	background: none;
	font-weight: bold;
}

.menu .active > a.invalid {
	color: #e71818;
}

.menu .active > a:hover, .menu .active > a:active, .menu .active > a:focus {
	background-color: #006aeb;
}


/* menuGroup */
.menuGroup-item {
	position: relative;
}

.menuGroup-item > a > span {
	display: block;
	content: '';
	position: absolute;
	top: 4px;
	right: 2px;
	cursor: pointer;
	width: 12px;
	height: 12px;
	background: url('images/collapsed.png') transparent 0 0 no-repeat;
}

.menuGroup-item > a > span:hover {
	background-position: -12px 0;
}

.menuGroup-item.collapsed > a > span {
	background-position: 0 -12px;
}

.menuGroup-item.collapsed > a > span:hover {
	background-position: -12px -12px;
}

.menuGroup-item.collapsed > ul {
	display: none;
}


/* php */
.php-tag {
	color: #ff0000;
	font-weight: bold;
}

.php-kw {
	color: #e71818;
	font-weight: bold;
}

.php-var {
	color: #d59401;
	font-weight: bold;
}

.php-num {
	color: #cd0673;
}

.php-str {
	color: #008000;
}

.php-comment {
	color: #929292;
}


/* source */
.source-line.selected {
	background: #fffbdd;
}

.source-lineNum {
	user-select: none;
	padding-left: 2px;
	color: #c0c0c0;
}

.source-lineNum:hover, .source-lineNum:active, .source-lineNum:focus {
	background: transparent;
	color: #c0c0c0 !important;
}


/* table */
.table {
	width: 100%;
	margin: 1.2em 0 2.4em;
	border-collapse: collapse;
}

.table-heading > th {
	border: 1px solid #cccccc;
	padding: 3px 5px;
	background: #ecede5;
	color: #053368;
	font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
}

.table-cell,
.table-anchor {
	margin: 0;
	border: 1px solid #cccccc;
	padding: 3px 10px;
	vertical-align: top;
}

.table-cell:not(:last-child) {
	border-right: none;
}

.table-shrink {
	width: 1px;
}

.table-anchor {
	width: 1px;
	padding: 3px;
	border-left: none;
}

.table-spacer td {
	height: 30px
}
