{templateType ApiGenX\Templates\Classic\SourceTemplate}

{layout '@layout.latte'}
{import '@blocks.latte'}
{var $robots = false}

{block title}File {$fileName}{/block}

{block content}
{*	<pre><code>{$source|sourceAnchors|replaceRE:'~<span class="line">(\\s*(\\d+):\\s*)</span>([^\\n]*(?:\\n|$))~','<span id="$2" class="l"><a class="l" href="#$2">$1</a>$3</span>'|noescape}</code></pre>*}

	<pre><code>{$source|noescape}</code></pre>

{/block}
