[
  @Class(
    file: '%rootDir%/tests/Features/Php81/IntersectionTypes/Collection.php'
    properties: {
      items: @Property(
        type: @IntersectionType(
          types: [
            @IdentifierType(
              name: 'Traversable'
              attributes: {
                kind: 'ClassLike'
                classLikeReference: @ClassLikeReference(
                  full: 'Traversable'
                )
              }
            ),
            @IdentifierType(
              name: 'Countable'
              attributes: {
                kind: 'ClassLike'
                classLikeReference: @ClassLikeReference(
                  full: 'Countable'
                )
              }
            ),
          ]
        )
        name: 'items'
        protected: true
      )
    }
    methods: {
      setitems: @Method(
        parameters: {
          items: @Parameter(
            name: 'items'
            position: 0
            type: @IntersectionType(
              types: [
                @IdentifierType(
                  name: 'Traversable'
                  attributes: {
                    kind: 'ClassLike'
                    classLikeReference: @ClassLikeReference(
                      full: 'Traversable'
                    )
                  }
                ),
                @IdentifierType(
                  name: 'Countable'
                  attributes: {
                    kind: 'ClassLike'
                    classLikeReference: @ClassLikeReference(
                      full: 'Countable'
                    )
                  }
                ),
              ]
            )
          )
        }
        returnType: @IdentifierType(
          name: 'void'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'setItems'
        public: true
      )
      getitems: @Method(
        returnType: @IntersectionType(
          types: [
            @IdentifierType(
              name: 'Traversable'
              attributes: {
                kind: 'ClassLike'
                classLikeReference: @ClassLikeReference(
                  full: 'Traversable'
                )
              }
            ),
            @IdentifierType(
              name: 'Countable'
              attributes: {
                kind: 'ClassLike'
                classLikeReference: @ClassLikeReference(
                  full: 'Countable'
                )
              }
            ),
          ]
        )
        name: 'getItems'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php81\IntersectionTypes\Collection'
    primary: true
  ),
]
