[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Features/Php71/IterableType/IterableType.php'
    properties: {
      iterableProperty: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'iterable'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Keyword'
            )
          }
        )
        name: 'iterableProperty'
        startLine: 8
        endLine: 8
        public: true
      )
      iterablePromoted: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'iterable'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Keyword'
            )
          }
        )
        name: 'iterablePromoted'
        startLine: 12
        endLine: 12
        public: true
      )
    }
    methods: {
      __construct: @ApiGen\Info\MethodInfo(
        nameLower: '__construct'
        parameters: {
          iterablePromoted: @ApiGen\Info\ParameterInfo(
            name: 'iterablePromoted'
            position: 0
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'iterable'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'Keyword'
                )
              }
            )
          )
        }
        name: '__construct'
        startLine: 11
        endLine: 14
        public: true
      )
      test: @ApiGen\Info\MethodInfo(
        nameLower: 'test'
        parameters: {
          iterable: @ApiGen\Info\ParameterInfo(
            name: 'iterable'
            position: 0
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'iterable'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'Keyword'
                )
              }
            )
          )
        }
        returnType: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'iterable'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Keyword'
            )
          }
        )
        name: 'test'
        startLine: 17
        endLine: 20
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php71\IterableType\IterableType'
    primary: true
    startLine: 6
    endLine: 21
  ),
]
