[
  @Class(
    file: '%rootDir%/tests/Features/Php71/VoidType/VoidType.php'
    methods: {
      say: @Method(
        parameters: {
          name: @Parameter(
            name: 'name'
            position: 0
            type: @IdentifierType(
              name: 'string'
              attributes: {
                kind: 'Keyword'
              }
            )
          )
        }
        returnType: @IdentifierType(
          name: 'void'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'say'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php71\VoidType\VoidType'
    primary: true
  ),
]
