services:
	- ApiGen\Console\Application
	- ApiGen\Console\IO\IO
	- ApiGen\Console\Helper\ProgressBar
	- ApiGen\Console\Command\GenerateCommand
	- ApiGen\Console\Command\SelfUpdateCommand
	- ApiGen\Console\Environment\MemoryLimit

	- ApiGen\Console\Input\DefaultInputDefinitionFactory
	- ApiGen\Console\Input\LiberalFormatArgvInput
	- ApiGen\Console\Formatter\OutputFormatter
	- Symfony\Component\Console\Output\ConsoleOutput

	- Symfony\Component\Console\Helper\QuestionHelper
	-
		class: Symfony\Component\Console\Helper\HelperSet
		setup:
			- set(@Symfony\Component\Console\Helper\QuestionHelper, 'question')
