extensions:
	- ApiGen\DI\ApiGenExtension
	- ApiGen\Console\DI\ConsoleExtension
	- ApiGen\EventDispatcher\DI\EventDispatcherExtension
	- ApiGen\Parser\DI\ParserExtension
	- ApiGen\Utils\DI\UtilsExtension
