extensions:
    - ApiGen\DI\ApiGenExtension
    - ApiGen\Parser\DI\ParserExtension
    - ApiGen\ElementReflection\DI\ElementReflectionExtension
    - Symplify\SymfonyEventDispatcher\Adapter\Nette\DI\SymfonyEventDispatcherExtension
    - Contributte\Console\DI\ConsoleExtension
