extensions:
    - ApiGen\DI\ApiGenExtension
    - ApiGen\Element\DI\ElementExtension
    - ApiGen\Reflection\DI\ReflectionExtension
    - ApiGen\ModularConfiguration\DI\ModularConfigurationExtension
    - ApiGen\StringRouting\DI\StringRoutingExtension

    # Symfony components integration to Nette\DI
    - Contributte\EventDispatcher\DI\EventDispatcherExtension
    - Contributte\Console\DI\ConsoleExtension

    - Symplify\ModularLatteFilters\DI\ModularLatteFiltersExtension
