extensions:
    - ApiGen\DI\ApiGenExtension
    - ApiGen\Parser\DI\ParserExtension
    - ApiGen\ElementReflection\DI\ElementReflectionExtension
    - ApiGen\ReflectionToElementTransformer\DI\ReflectionToElementTransformerExtension

    # Symfony\EventDispathcer integration to Nette\DI
    - Symplify\SymfonyEventDispatcher\Adapter\Nette\DI\SymfonyEventDispatcherExtension
    # Symfony\Console integration to Nette\DI
    - Contributte\Console\DI\ConsoleExtension
