# Annotation
- ApiGen\Annotation\AnnotationDecorator
- ApiGen\Annotation\AnnotationSubscriber\ReturnAnnotationSubscriber
- ApiGen\Annotation\AnnotationSubscriber\ParamAnnotationSubscriber
- ApiGen\Annotation\AnnotationSubscriber\SeeAnnotationSubscriber
- ApiGen\Annotation\AnnotationSubscriber\LinkAnnotationSubscriber
- ApiGen\Annotation\AnnotationSubscriber\LinkifyDescriptionSubscriber

- phpDocumentor\Reflection\FqsenResolver
- phpDocumentor\Reflection\Types\ContextFactory
- ApiGen\Annotation\FqsenResolver\ElementResolver


# ApiGenApplication
- ApiGen\Application\ApiGenApplication

# Console
- ApiGen\Console\Helper\ProgressBar
- ApiGen\Console\Command\GenerateCommand
- Symfony\Component\Console\Output\ConsoleOutput
- ApiGen\Progress\StepCounter

# Utils
- ApiGen\Utils\FileSystem
- ApiGen\Utils\Finder\NetteFinder

# Configuration
- ApiGen\Configuration\Configuration

# Generator
- ApiGen\Generator\EventSubscriber\ProgressBarEventSubscriber
- ApiGen\Generator\GeneratorQueue
- ApiGen\Generator\AnnotationGroupsGenerator
- ApiGen\Generator\ElementListGenerator
- ApiGen\Generator\IndexGenerator

# elements
- ApiGen\Generator\NamespaceGenerator
- ApiGen\Generator\ClassGenerator
- ApiGen\Generator\InterfaceGenerator
- ApiGen\Generator\TraitGenerator
- ApiGen\Generator\FunctionGenerator

# Templating
- ApiGen\Templating\TemplateRenderer
- ApiGen\EventSubscriber\ConfigurationTemplateVariablesEventSubscriber
- ApiGen\EventSubscriber\ElementsTemplateVariablesEventSubscriber

# Template Filters
- ApiGen\Templating\Filters\Helpers\LinkBuilder
- ApiGen\Templating\Filters\AnnotationFilters
- ApiGen\Templating\Filters\UrlFilters

# Theme
- ApiGen\Theme\ThemeResources

# Syntax Highlighter
- ApiGen\Generator\SourceCodeHighlighter\FshlSourceCodeHighlighter
- FSHL\Output\Html
- FSHL\Lexer\Php
-
    class: FSHL\Highlighter
    setup:
        - setLexer(@FSHL\Lexer\Php)