# Console
- ApiGen\Console\Helper\ProgressBar
- ApiGen\Console\Command\GenerateCommand
- Symfony\Component\Console\Output\ConsoleOutput
- ApiGen\Progress\StepCounter

# Utils
- ApiGen\Utils\FileSystem
- ApiGen\Utils\Finder\NetteFinder

# Configuration
- ApiGen\Configuration\Configuration
- ApiGen\Configuration\ConfigurationOptionsResolver
- ApiGen\Configuration\OptionsResolverFactory

# Elements
- ApiGen\Generator\Resolvers\ElementResolver
- ApiGen\Generator\Resolvers\RelativePathResolver

# Generator
- ApiGen\Generator\EventSubscriber\ProgressBarSubscriber
- ApiGen\Generator\GeneratorQueue
- ApiGen\Generator\TemplateGenerators\AnnotationGroupsGenerator
- ApiGen\Generator\TemplateGenerators\ElementListGenerator
- ApiGen\Generator\TemplateGenerators\OverviewGenerator # rename to index, it's index
#- ApiGen\Generator\TemplateGenerators\SourceCodeGenerator -> put into all elements...
# elements
- ApiGen\Generator\TemplateGenerators\NamespaceGenerator
- ApiGen\Generator\TemplateGenerators\ClassGenerator
- ApiGen\Generator\TemplateGenerators\InterfaceGenerator
- ApiGen\Generator\TemplateGenerators\TraitGenerator
- ApiGen\Generator\TemplateGenerators\FunctionGenerator

# Templating
- ApiGen\Templating\TemplateElementsLoader
- ApiGen\Templating\TemplateFactory
- ApiGen\Templating\Filters\Helpers\ElementLinkFactory
- ApiGen\Templating\Filters\Helpers\ElementUrlFactory
- ApiGen\Templating\Filters\Helpers\LinkBuilder
- ApiGen\Templating\Filters\AnnotationFilters
- ApiGen\Templating\Filters\PathFilters
- ApiGen\Templating\Filters\ResolverFilters
- ApiGen\Templating\Filters\SourceFilters
- ApiGen\Templating\Filters\UrlFilters
- ApiGen\Templating\Filters\NamespaceUrlFilters
- ApiGen\Templating\Filters\ElementUrlFilters

# Theme
- ApiGen\Theme\ThemeResources

# Syntax Highlighter
- ApiGen\Generator\SourceCodeHighlighter\FshlSourceCodeHighlighter
- FSHL\Output\Html
- FSHL\Lexer\Php
-
    class: FSHL\Highlighter
    setup:
        - setLexer(@FSHL\Lexer\Php)
