[
  @ApiGen\Info\TraitInfo(
    file: '%rootDir%/tests/Features/Php54/Traits/HelloWorld.php'
    methods: {
      sayhello: @ApiGen\Info\MethodInfo(
        nameLower: 'sayhello'
        name: 'sayHello'
        startLine: 8
        endLine: 11
        public: true
      )
      methodfromtrait: @ApiGen\Info\MethodInfo(
        nameLower: 'methodfromtrait'
        name: 'methodFromTrait'
        startLine: 14
        endLine: 17
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php54\Traits\HelloWorld'
    primary: true
    startLine: 6
    endLine: 18
  ),
]
