[
  @Class(
    uses: {
      apigentests\features\php54\traits\helloworld: @ClassLikeReference(
        full: 'ApiGenTests\Features\Php54\Traits\HelloWorld'
      )
    }
    file: '%rootDir%/tests/Features/Php54/Traits/TheWorldIsNotEnough.php'
    methods: {
      sayhello: @Method(
        name: 'sayHello'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php54\Traits\TheWorldIsNotEnough'
    primary: true
  ),
]
