[
  @Class(
    file: '%rootDir%/tests/Features/Php81/FinalClassConstants/FinalClassConstantsInClass.php'
    constants: {
      FINAL_CONSTANT: @Constant(
        value: @StringExpr(
          value: 'final constant'
          raw: '''final constant'''
        )
        final: true
        name: 'FINAL_CONSTANT'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php81\FinalClassConstants\FinalClassConstantsInClass'
    primary: true
  ),
]
