resources:
	resources: resources

templates:
	namespace: namespace.latte
	package: package.latte
	class: class.latte
	source: source.latte

	common:
		allclasses.js: allclasses.js.latte
		allclasses.html: package.latte
		index.html: overview.latte
		sitemap.xml: sitemap.xml.latte
		opensearch.xml: opensearch.xml.latte
		resources/combined.js: combined.js.latte

filenames:
	class: %s.html
	package: package-%s.html
	namespace: namespace-%s.html
	source: source-%s.html
