{layout '@layout.latte'}

{block #title}{if $namespace}Namespace {$namespace}{else}No namespace{/if}{/block}

{block #content}
<div id="navigation">
	<ul>
		<li><a href="overview.html" title="Summary of all packages">Overview</a></li>
		<li>Package</li>
		<li{ifset $namespace} class="active"{/ifset}>Namespace</li>
		<li>Class</li>
	</ul>
</div>

<div id="content">
	<h1>{if $namespace}Namespace {$namespace}{else}No namespace{/if}</h1>

	{include '@classlist.latte'}
</div>
{/block}