{varType ApiGenX\Templates\ClassicX\GlobalParameters $global}

{define classLikeKind, ApiGenX\Info\ClassLikeInfo $info}{*
	*}{if $info->interface}Interface{elseif $info->trait}Trait{else}Class{/if}{*
*}{/define}
