{varType ApiGenX\Templates\ClassicX\GlobalParameters $global}

{define classLikeKind, ApiGenX\Info\ClassLikeInfo $classLike}{*
	*}{if $classLike->interface}Interface{elseif $classLike->trait}Trait{else}Class{/if}{*
*}{/define}
