{varType ApiGenX\Templates\ClassicX\GlobalParameters $global}

{define constantSummary, ApiGenX\Info\ClassLikeInfo $classLike}
	{try}
		<table class="table" id="constants">
			<tr class="table-heading">
				<th colspan="4">Constants</th>
			</tr>

			{foreach $classLike->constants as $constant}
				{skipIf $constant->private}
				{include constant, classLike: $classLike, constant: $constant}
			{else}
				{rollback}
			{/foreach}
		</table>
	{/try}
{/define}
