{define constantLinkSimple, ApiGenX\Info\ClassLikeInfo $classLike, ApiGenX\Info\ConstantInfo $constant}{*
	*}<a href="{elementUrl($classLike)}#{$constant->name}" n:class="$constant->isDeprecated() ? deprecated"><code>{$constant->name}</code></a>{*
*}{/define}
