{define memberSourceLink, ApiGenX\Info\ClassLikeInfo $classLike, ApiGenX\Info\MemberInfo $member, Latte\Runtime\Html|string $content}{*
	*}<a n:tag-if="$classLike->file && $classLike->primary" href="{$classLike->file|sourceUrl}#{$member->startLine}-{$member->endLine}" title="Go to source code">{*
		*}<span n:tag-if="$member->isDeprecated()" class="deprecated">{$content}</span>{*
	*}</a>{*
*}{/define}
