{define memberDescription, ApiGenX\Info\MemberInfo $member}
	<div n:if="$member->description" class="expandable-collapsedView">
		{shortDescription($member->description)}
	</div>

	<div class="expandable-expandedView">
		{include description, $member->description}
		{block details}{/block}
	</div>
{/define}
