{define methodLink, ApiGenX\Info\ClassLikeInfo $classLike, ApiGenX\Info\MethodInfo $method}
	<code><a href="{elementUrl($classLike)}#_{$method->name}">{$classLike->name->full}::{$method->name}()</a></code>
{/define}
