{varType ApiGenX\Templates\ClassicX\GlobalParameters $global}

{define methodSummary, ApiGenX\Info\ClassLikeInfo $classLike}
	<table n:if="$classLike->methods" class="table" id="methods">
		<tr class="table-heading">
			<th colspan="3">Methods</th>
		</tr>

		{foreach $classLike->methods as $method}
			{include method, classLike => $classLike, method => $method}
		{/foreach}
	</table>
{/define}
