{define methodLinkSimple, ApiGenX\Info\ClassLikeInfo $classLike, ApiGenX\Info\MethodInfo $method}{*
	*}<a href="{elementUrl($classLike)}#_{$method->name}" n:class="$method->isDeprecated() ? deprecated">{$method->name}()</a>{*
*}{/define}
