{varType ApiGenX\Templates\ClassicX\GlobalParameters $global}

{define methodSignature, ApiGenX\Info\ClassLikeInfo $classLike, ApiGenX\Info\MethodInfo $method, bool $multiLine = false}{*
	*}{include memberSourceLink, classLike: $classLike, member: $method, content: $method->name}{*
	*}({$multiLine ? "\n\t"}{include parameters, parameters: $method->parameters, sep: $multiLine ? ",\n\t" : ", "}{$multiLine ? "\n"}){*
	*}{if $method->returnType}: {include type, type: $method->returnType}{/if}{*
*}{/define}
