{define parameters, ApiGenX\Info\ClassLikeInfo $classLike, ApiGenX\Info\ParameterInfo[] $parameters, string $sep = ', '}{*
	*}{foreach $parameters as $parameter}{*
		*}{include parameter, classLike: $classLike, parameter: $parameter}{sep}{$sep}{/sep}{*
	*}{/foreach}{*
*}{/define}
