{define propertyLinkSimple, ApiGenX\Info\ClassLikeInfo $classLike, ApiGenX\Info\PropertyInfo $property}{*
	*}<a href="{elementUrl($classLike)}#${$property->name}" n:class="$property->isDeprecated() ? deprecated"><var>${$property->name}</var></a>{*
*}{/define}
