{varType ApiGenX\Templates\ClassicX\GlobalParameters $global}

{define propertySummary, ApiGenX\Info\ClassLikeInfo $classLike}
	{try}
		<table class="table" id="properties">
			<tr class="table-heading">
				<th colspan="5">Properties</th>
			</tr>

			{foreach $classLike->properties as $property}
				{skipIf $property->private}
				{include property, classLike: $classLike, property: $property}
			{else}
				{rollback}
			{/foreach}
		</table>
	{/try}
{/define}
