[
  @Class(
    readOnly: true
    file: '%rootDir%/tests/Features/Php82/ReadOnlyClasses/ReadOnlyClasses.php'
    properties: {
      value: @Property(
        type: @IdentifierType(
          name: 'string'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'value'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php82\ReadOnlyClasses\ReadOnlyClasses'
    primary: true
  ),
]
