[
  @Enum(
    scalarType: 'string'
    implements: {
      backedenum: @ClassLikeReference(
        full: 'BackedEnum'
      )
    }
    cases: {
      Red: @EnumCase(
        value: @StringExpr(
          value: '#FF0000'
          raw: '''#FF0000'''
        )
        name: 'Red'
      )
      Blue: @EnumCase(
        value: @StringExpr(
          value: '#0000FF'
          raw: '''#0000FF'''
        )
        name: 'Blue'
      )
      Green: @EnumCase(
        value: @StringExpr(
          value: '#00FF00'
          raw: '''#00FF00'''
        )
        name: 'Green'
      )
    }
    file: '%rootDir%/tests/Features/Php82/FetchEnumPropertiesInConstExpr/Color.php'
    name: 'ApiGenTests\Features\Php82\FetchEnumPropertiesInConstExpr\Color'
    primary: true
  ),
]
