[
  @Class(
    file: '%rootDir%/tests/Features/Php82/FetchEnumPropertiesInConstExpr/FetchEnumPropertiesInConstExpr.php'
    constants: {
      KEY: @Constant(
        value: @StringExpr(
          value: 'va'
          raw: '''va'''
        )
        name: 'KEY'
        public: true
      )
      COLORS: @Constant(
        value: @ArrayExpr(
          items: [
            @ArrayItemExpr(
              key: @StringExpr(
                value: 'blue'
                raw: '''blue'''
              )
              value: @PropertyFetchExpr(
                expr: @ClassConstantFetchExpr(
                  classLike: @ClassLikeReference(
                    full: 'ApiGenTests\Features\Php82\FetchEnumPropertiesInConstExpr\Color'
                  )
                  name: 'Blue'
                )
                property: 'value'
              )
            ),
            @ArrayItemExpr(
              key: @StringExpr(
                value: 'red'
                raw: '''red'''
              )
              value: @NullSafePropertyFetchExpr(
                expr: @ClassConstantFetchExpr(
                  classLike: @ClassLikeReference(
                    full: 'ApiGenTests\Features\Php82\FetchEnumPropertiesInConstExpr\Color'
                  )
                  name: 'Red'
                )
                property: 'value'
              )
            ),
            @ArrayItemExpr(
              key: @StringExpr(
                value: 'green'
                raw: '''green'''
              )
              value: @PropertyFetchExpr(
                expr: @ClassConstantFetchExpr(
                  classLike: @ClassLikeReference(
                    full: 'ApiGenTests\Features\Php82\FetchEnumPropertiesInConstExpr\Color'
                  )
                  name: 'Green'
                )
                property: @BinaryOpExpr(
                  op: '.'
                  left: @ClassConstantFetchExpr(
                    classLike: @ClassLikeReference(
                      full: 'self'
                    )
                    name: 'KEY'
                  )
                  right: @StringExpr(
                    value: 'lue'
                    raw: '''lue'''
                  )
                )
              )
            ),
          ]
        )
        name: 'COLORS'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php82\FetchEnumPropertiesInConstExpr\FetchEnumPropertiesInConstExpr'
    primary: true
    dependencies: {
      apigentests\features\php82\fetchenumpropertiesinconstexpr\color: @ClassLikeReference(
        full: 'ApiGenTests\Features\Php82\FetchEnumPropertiesInConstExpr\Color'
      )
    }
  ),
]
