[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Issues/issue1049.php'
    name: 'ApiGenTests\Issues\Issue1049\ClassInFileWithShortOpenTag'
    primary: true
    startLine: 5
    endLine: 6
  ),
]
