[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Issues/issue1003.php'
    methods: {
      print: @ApiGen\Info\MethodInfo(
        nameLower: 'print'
        returnType: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'void'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Keyword'
            )
          }
        )
        name: 'print'
        startLine: 7
        endLine: 9
        public: true
      )
    }
    name: 'ApiGenTests\Issues\Issue1003\ClassWithPrintMethod'
    primary: true
    startLine: 5
    endLine: 10
  ),
]
