[
  @Class(
    extends: @ClassLikeReference(
      full: 'ApiGenTests\Issues\Issue0982\MissingParent'
    )
    file: '%rootDir%/tests/Issues/issue0982.php'
    name: 'ApiGenTests\Issues\Issue0982\ClassWithNonExistentParent'
    primary: true
  ),
  @ClassLikeReference(
    full: 'ApiGenTests\Issues\Issue0982\MissingParent'
  ),
]
