[
  @Class(
    file: '%rootDir%/tests/Issues/issue1003.php'
    methods: {
      print: @Method(
        returnType: @IdentifierType(
          name: 'void'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'print'
        public: true
      )
    }
    name: 'ApiGenTests\Issues\Issue1003\ClassWithPrintMethod'
    primary: true
  ),
]
