[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Issues/issue0981.php'
    constants: {
      A: @ApiGen\Info\ConstantInfo(
        value: @ApiGen\Info\Expr\IntegerExprInfo(
          value: 1
          base: 10
          raw: '1'
        )
        name: 'A'
        startLine: 8
        endLine: 8
        public: true
      )
      B: @ApiGen\Info\ConstantInfo(
        value: @ApiGen\Info\Expr\IntegerExprInfo(
          value: 2
          base: 10
          raw: '2'
        )
        name: 'B'
        startLine: 9
        endLine: 9
        public: true
      )
      C: @ApiGen\Info\ConstantInfo(
        value: @ApiGen\Info\Expr\IntegerExprInfo(
          value: 3
          base: 10
          raw: '3'
        )
        name: 'C'
        startLine: 10
        endLine: 10
        public: true
      )
      X: @ApiGen\Info\ConstantInfo(
        value: @ApiGen\Info\Expr\ArrayExprInfo(
          items: [
            @ApiGen\Info\Expr\ArrayItemExprInfo(
              key: @ApiGen\Info\Expr\StringExprInfo(
                value: 'A'
                raw: '''A'''
              )
              value: @ApiGen\Info\Expr\ClassConstantFetchExprInfo(
                classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'self'
                  fullLower: 'self'
                )
                name: 'A'
              )
            ),
            @ApiGen\Info\Expr\ArrayItemExprInfo(
              key: @ApiGen\Info\Expr\StringExprInfo(
                value: 'B'
                raw: '''B'''
              )
              value: @ApiGen\Info\Expr\ClassConstantFetchExprInfo(
                classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'self'
                  fullLower: 'self'
                )
                name: 'B'
              )
            ),
          ]
        )
        name: 'X'
        startLine: 12
        endLine: 15
        public: true
      )
      Y: @ApiGen\Info\ConstantInfo(
        value: @ApiGen\Info\Expr\ArrayExprInfo(
          items: [
            @ApiGen\Info\Expr\ArrayItemExprInfo(
              key: @ApiGen\Info\Expr\StringExprInfo(
                value: 'C'
                raw: '''C'''
              )
              value: @ApiGen\Info\Expr\ClassConstantFetchExprInfo(
                classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'self'
                  fullLower: 'self'
                )
                name: 'C'
              )
            ),
            @ApiGen\Info\Expr\ArrayItemExprInfo(
              key: @ApiGen\Info\Expr\StringExprInfo(
                value: 'X'
                raw: '''X'''
              )
              value: @ApiGen\Info\Expr\ClassConstantFetchExprInfo(
                classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'self'
                  fullLower: 'self'
                )
                name: 'X'
              )
            ),
            @ApiGen\Info\Expr\ArrayItemExprInfo(
              key: @ApiGen\Info\Expr\StringExprInfo(
                value: 'Z'
                raw: '''Z'''
              )
              value: @ApiGen\Info\Expr\IntegerExprInfo(
                value: 123
                base: 10
                raw: '123'
              )
            ),
          ]
        )
        name: 'Y'
        startLine: 17
        endLine: 21
        public: true
      )
      Z: @ApiGen\Info\ConstantInfo(
        value: @ApiGen\Info\Expr\ArrayExprInfo(
          items: [
            @ApiGen\Info\Expr\ArrayItemExprInfo(
              key: @ApiGen\Info\Expr\ClassConstantFetchExprInfo(
                classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'self'
                  fullLower: 'self'
                )
                name: 'A'
              )
              value: @ApiGen\Info\Expr\ClassConstantFetchExprInfo(
                classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'self'
                  fullLower: 'self'
                )
                name: 'X'
              )
            ),
            @ApiGen\Info\Expr\ArrayItemExprInfo(
              key: @ApiGen\Info\Expr\ClassConstantFetchExprInfo(
                classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'self'
                  fullLower: 'self'
                )
                name: 'B'
              )
              value: @ApiGen\Info\Expr\ClassConstantFetchExprInfo(
                classLike: @ApiGen\Info\ClassLikeReferenceInfo(
                  full: 'self'
                  fullLower: 'self'
                )
                name: 'Y'
              )
            ),
          ]
        )
        name: 'Z'
        startLine: 23
        endLine: 26
        public: true
      )
    }
    name: 'ApiGenTests\Issues\Issue0981\Issue0981'
    primary: true
    startLine: 6
    endLine: 27
  ),
]
