{templateType ApiGenX\Templates\ClassicX\SourceTemplate}
{import 'blocks/@index.latte'}

{embed layout}
	{define title}File {$path|relativePath}{/define}

	{define content}
		{include source, $source}
	{/define}
{/embed}
