[
  @Interface(
    file: '%rootDir%/tests/Features/Php81/Enum/Colorful.php'
    methods: {
      color: @Method(
        returnType: @IdentifierType(
          name: 'string'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'color'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php81\Enum\Colorful'
    primary: true
  ),
]
