[
  @Enum(
    implements: {
      apigentests\features\php81\enum\colorful: @ClassLikeReference(
        full: 'ApiGenTests\Features\Php81\Enum\Colorful'
      )
      unitenum: @ClassLikeReference(
        full: 'UnitEnum'
      )
    }
    cases: {
      Hearts: @EnumCase(
        value: null
        name: 'Hearts'
      )
      Diamonds: @EnumCase(
        value: null
        name: 'Diamonds'
      )
      Clubs: @EnumCase(
        value: null
        name: 'Clubs'
      )
      Spades: @EnumCase(
        value: null
        name: 'Spades'
      )
    }
    file: '%rootDir%/tests/Features/Php81/Enum/UnitEnum.php'
    methods: {
      color: @Method(
        returnType: @IdentifierType(
          name: 'string'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'color'
        public: true
      )
      shape: @Method(
        returnType: @IdentifierType(
          name: 'string'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'shape'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php81\Enum\UnitEnum'
    primary: true
  ),
  @ClassLikeReference(
    full: 'UnitEnum'
  ),
  @ClassLikeReference(
    full: 'ApiGenTests\Features\Php81\Enum\Colorful'
  ),
]
