[
  @Class(
    file: '%rootDir%/tests/Features/Php80/MixedType/MixedType.php'
    properties: {
      mixedProperty: @Property(
        type: @IdentifierType(
          name: 'mixed'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'mixedProperty'
        public: true
      )
      mixedPromoted: @Property(
        type: @IdentifierType(
          name: 'mixed'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'mixedPromoted'
        public: true
      )
    }
    methods: {
      __construct: @Method(
        parameters: {
          mixedPromoted: @Parameter(
            name: 'mixedPromoted'
            position: 0
            type: @IdentifierType(
              name: 'mixed'
              attributes: {
                kind: 'Keyword'
              }
            )
          )
        }
        name: '__construct'
        public: true
      )
      test: @Method(
        parameters: {
          mixed: @Parameter(
            name: 'mixed'
            position: 0
            type: @IdentifierType(
              name: 'mixed'
              attributes: {
                kind: 'Keyword'
              }
            )
          )
        }
        returnType: @IdentifierType(
          name: 'mixed'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'test'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php80\MixedType\MixedType'
    primary: true
  ),
]
