[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Features/Php80/MixedType/MixedType.php'
    properties: {
      mixedProperty: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'mixed'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Keyword'
            )
          }
        )
        name: 'mixedProperty'
        startLine: 8
        endLine: 8
        public: true
      )
      mixedPromoted: @ApiGen\Info\PropertyInfo(
        type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'mixed'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Keyword'
            )
          }
        )
        name: 'mixedPromoted'
        startLine: 12
        endLine: 12
        public: true
      )
    }
    methods: {
      __construct: @ApiGen\Info\MethodInfo(
        nameLower: '__construct'
        parameters: {
          mixedPromoted: @ApiGen\Info\ParameterInfo(
            name: 'mixedPromoted'
            position: 0
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'mixed'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'Keyword'
                )
              }
            )
          )
        }
        name: '__construct'
        startLine: 11
        endLine: 14
        public: true
      )
      test: @ApiGen\Info\MethodInfo(
        nameLower: 'test'
        parameters: {
          mixed: @ApiGen\Info\ParameterInfo(
            name: 'mixed'
            position: 0
            type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
              name: 'mixed'
              attributes: {
                kind: @ApiGen\Analyzer\IdentifierKind(
                  name: 'Keyword'
                )
              }
            )
          )
        }
        returnType: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
          name: 'mixed'
          attributes: {
            kind: @ApiGen\Analyzer\IdentifierKind(
              name: 'Keyword'
            )
          }
        )
        name: 'test'
        startLine: 17
        endLine: 20
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php80\MixedType\MixedType'
    primary: true
    startLine: 6
    endLine: 21
  ),
]
