[
  @ApiGen\Info\ClassInfo(
    file: '%rootDir%/tests/Features/Mixin/MixinUser.php'
    mixins: {
      apigentests\features\mixin\mixin: @ApiGen\Info\ClassLikeReferenceInfo(
        full: 'ApiGenTests\Features\Mixin\Mixin'
        fullLower: 'apigentests\features\mixin\mixin'
      )
    }
    name: 'ApiGenTests\Features\Mixin\MixinUser'
    primary: true
    tags: {
      mixin: [
        @PHPStan\PhpDocParser\Ast\PhpDoc\MixinTagValueNode(
          type: @PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode(
            name: 'Mixin'
            attributes: {
              kind: @ApiGen\Analyzer\IdentifierKind(
                name: 'ClassLike'
              )
              classLikeReference: @ApiGen\Info\ClassLikeReferenceInfo(
                full: 'ApiGenTests\Features\Mixin\Mixin'
                fullLower: 'apigentests\features\mixin\mixin'
              )
            }
          )
          description: ''
        ),
      ]
    }
    startLine: 9
    endLine: 11
    dependencies: {
      apigentests\features\mixin\mixin: @ApiGen\Info\ClassLikeReferenceInfo(
        full: 'ApiGenTests\Features\Mixin\Mixin'
        fullLower: 'apigentests\features\mixin\mixin'
      )
    }
  ),
]
