[
  @Interface(
    file: '%rootDir%/tests/Features/Php50/FullObjectModel/MyInterface.php'
    methods: {
      getname: @Method(
        returnType: @IdentifierType(
          name: 'string'
          attributes: {
            kind: 'Keyword'
          }
        )
        name: 'getName'
        public: true
      )
    }
    name: 'ApiGenTests\Features\Php50\FullObjectModel\MyInterface'
    primary: true
  ),
]
